/.idea/

/config/packages/doctrine_migrations.yaml

/themes/*
!/themes/nina/

###> OVH ###
.bash_history
.composer/
.ovhconfig
composer.phar

###> symfony/framework-bundle ###
.env
/config/services.yaml
/public/theme/
/public/bundles/
/public/uploads/
/public/thumbs/
/public/sauvegardes/bdd/*
/public/sauvegardes/mediatheque/*
/sauvegardes/bdd/*
/sauvegardes/mediatheque/*
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/webpack-encore-pack ###
/node_modules/
/public/build/
###< symfony/webpack-encore-pack ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

