/.idea/

/config/packages/doctrine_migrations.yaml

/themes/*
!/themes/nina/
/themes/nina/parametres.yaml
/themes/nina/assets/css/_config/_parametres.scss

###> OVH ###
.bash_history
.composer/
.ovhconfig
composer.phar

###Config
/config/services.yaml
/config/packages/doctrine_migrations.yaml
/src/Blocs/configBlocs.yaml
src/Blocs/configBlocs.yaml
src/Blocs/LEI/configLEI.yaml
src/Blocs/LEI/cache
/src/Migrations/
/src/Migrations/*

###> symfony/framework-bundle ###
.env
/public/theme
/public/theme/
/public/themes_thumbs/*
/public/bundles/
/public/uploads/
/public/thumbs/
/public/images/
/public/sauvegardes/bdd/*
/public/sauvegardes/mediatheque/*
/sauvegardes/bdd/*
/sauvegardes/mediatheque/*
/sauvegardes/*
/translations/
/var/
/vendor/
###< symfony/framework-bundle ###
###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

