{% set resultats = listeVideos(langueActive, bloc.contenu) %}

<div class="pagination">
    {{ resultats.pagination|raw }}
</div>

<div class="grid-2-tiny-1 has-gutter-xl">
    {% for bloc in resultats['donnees'] %}
        <div class="blocVideos-video">
            {% include 'Blocs/Video/Video.html.twig' with { bloc: bloc } only %}
        </div>
    {% endfor %}
</div>

<div class="pagination">
    {{ resultats.pagination|raw }}
</div>