<div class="grid-3 small-1 has-gutter-xl">
    {% for bloc in listerToutesLesVideos().blocsVideos %}
        <div class="blocVideos-video">
            {%  include 'Blocs/Video/Video.html.twig' with{'bloc' : bloc} only %}
        </div>
    {% endfor %}
</div>