{% extends "bundles/FOSUserBundle/layout.html.twig" %}

{% block fos_user_content %}
    <div id="loginPage">
        {% include "@FOSUser/Resetting/reset_content.html.twig" %}
    </div>
{% endblock fos_user_content %}
