<table class="table">
    <thead>
        <tr>
            <th>Page</th>
            <th>Groupe de Blocs</th>
            <th>Type de Bloc</th>
            <th>Lien mort</th>
        </tr>
    </thead>
    {% for lienMort in liensMorts %}
        {% include 'back/liensMorts/_lienMort.html.twig' with { 'infos' : lienMort } only %}
    {% endfor %}
</table>