<div class="grid-3 small-1 has-gutter-xl">
    {% for page in listerPagesEnfants(bloc.page).pages %}
        <div class="blocRubrique-page flex-container-v">
            {{ getBlocAnnexe(page, 'Vignette')|raw }}
            <h2>{{ page.titre }}</h2>
            {{ getBlocAnnexe(page, 'Resume')|raw }}
            <a href="{{ path("voirPage", { '_locale': page.langue.abreviation, 'url': page.seo.url}) }}">{% trans %}Voir la page{% endtrans %}</a>
        </div>
    {% endfor %}
</div>