<div class="region-{{ region.identifiant }}" data-region="{{ region.id }}">
    {% if region.blocs is not empty %}
        {% include('front/blocs.html.twig') with {'blocs': region.blocs} only %}
    {% endif %}
</div>