<div class="scrollTop"><i class="fas fa-angle-up"></i></div>
<footer>
    {% if region.blocs is not empty %}
        {% include('front/blocs.html.twig') with {'blocs': region.blocs} only %}
    {% endif %}
</footer>