<header class="header_front region-header" data-region="{{ region.id }}">
    <div id="burger"><i class="fas fa-bars"></i></div>
    {% if region.blocs is not empty %}
        {% include('front/blocs.html.twig') with {'blocs': region.blocs} only %}
    {% endif %}
</header>