<header class="header_front">
    <div class="mw960p center">
        <div>
            <a href="{{ path('accueil') }}"><img class="logo" src="{{ config.logo }}" alt="CMS Nina"></a>
            {{ groupes(region.id) }}
        </div>
    </div>
</header>