<form action="
    {% if langues|length > 1 %}
        {{ path('rechercheLocale', { '_locale': langueActive.abreviation }) }}
    {% else %}
        {{ path('recherche') }}
    {% endif %}
    " method="GET">
    <input name="recherche" type="text" placeholder="Rechercher..."><button type="submit"><i class="fas fa-search"></i></button>
</form>
