<div class="flex-container">
    {% for categorie in categoriesDeType(bloc.contenu.typeCategorie) %}
        <div class="blocTypeCategorie-categorie flex-container-v mrs mbs">
            <a class="bouton lire" href="{{ path('voirCategorie', { 'urlTypeCategorie': categorie.typeCategorie.url, 'urlCategorie': categorie.url }) }}"><i class="fas fa-tag mrs"></i>{{ categorie.nom }}</a>
        </div>
    {% endfor %}
</div>