{% if bloc.contenu.sections is defined %}
    {% set sections = bloc.contenu.sections %}
    {% for section in sections|sortBy('position') %}
        <section class="blocAccordeon-section">
            {% if section.titre is defined and section.titre is not empty %}
                <header class="blocAccordeon-titre">
                    {{ section.titre }} <i class="fas fa-plus-circle"></i>
                </header>
            {% endif %}
            {% if section.texte is defined and section.titre is not empty %}
                <div class="blocAccordeon-texte hidden">
                    {{ section.texte|raw }}
                </div>
            {% endif %}
        </section>
    {% endfor %}
{% endif %}