{% set image = bloc.contenu.image.image %}
<div class="blocAnnexeBandeau">
    <img data-src="{{ getTaille(image, 'large') }}" alt="{{ bloc.contenu.image.titre }}" {% if getSrcSet(image) is not empty %}data-srcset="{{ getSrcSet(image) }}" data-sizes="1000px"{% endif %}>
</div>