@font-face {
  font-family: Mic32;
  src: url(../fonts/Mic32New-Light.otf);
  font-weight: 100;
}

@font-face {
  font-family: Mic32;
  src: url(../fonts/Mic32New-Medium.otf);
  font-weight: 300;
}

@font-face {
  font-family: Mic32;
  src: url(../fonts/Mic32New-Regular.otf);
  font-weight: 500;
}

@font-face {
  font-family: Mic32;
  src: url(../fonts/Mic32New-Bold.otf);
  font-weight: 700;
}