//Couleurs de profondeur
.fonce, .tresFonce{
  padding: 1rem;
  margin: 1rem 2rem;
  &.lien-page{
    margin: 1rem 0;
  }
}

.fonce{
  background-color: #EDEDED;
}

.tresFonce{
  background-color: #E1E0E0;
}

/* Bouton pour ajouter un bloc */
.ajout-bloc, .ajout-blocAnnexe{
  background-color: $color-brand2;
  color: $white;
  text-decoration: none;
  font-size: 1.8rem;
  padding: .7rem 1.5rem;
  border-radius: .5rem;
  &:hover{
    color: $white;
    background-color: $color-brand2-dark;
    text-decoration: none;
  }
  &:active, &:focus{
    background-color: $color-brand2;
    color: $white;
    text-decoration: none;
  }
}

.form-group.field-bloc, .form-group.field-bloc_annexe{
  position: relative;
  padding: 1rem 2rem;
  margin: 1rem 0;
  background-color: #F7F7F7;
  &.desactive{
    background-color: #DFDFDF;
    > div:not(.bloc-barreActions){
      opacity: .7;
    }
  }
  &.nvBloc{
    opacity: 0;
  }
  &.focus{
    box-shadow: 0 0 1rem $color-brand2-dark;
  }
  > label{
    display: none;
  }
  &:first-of-type{
    .monterBloc{
      display: none;
    }
  }
  &:last-of-type{
    .descendreBloc{
      display: none;
    }
  }
}

.type-bloc{
  color: $color-brand2;
  margin-bottom: 0;
  font-size: 1.8rem;
  margin-left: .5rem;
}

//Section
.blocsEnfants .field-bloc{
  background-color: #EDEDED;
  margin: 1rem;
  .fonce, .field-bloc{
    background-color: #E1E0E0;
  }
}

.blocsEnfants{
  > div{
    display: flex;
    flex-wrap: wrap;
  }
  &[data-col="col3"] > div > .field-bloc {
    width: calc(33% - 2rem);
  }
  &[data-col="col1"] > div > .field-bloc {
    width: calc(100% - 2rem);
  }
  &[data-col="col4"] > div > .field-bloc {
    width: calc(25% - 2rem);
  }
  &[data-col="col1/2"] > div > .field-bloc {
    width: calc(50% - 2rem);
  }
  &[data-col="col1/3"]{
    > div > .field-bloc:first-of-type {
      width: calc(30% - 2rem);
    }
    > div > .field-bloc:last-of-type {
      width: calc(70% - 2rem);
    }
  }
  &[data-col="col2/3"]{
    > div > .field-bloc:first-of-type {
      width: calc(70% - 2rem);
    }
    > div > .field-bloc:last-of-type {
      width: calc(30% - 2rem);
    }
  }
}

#page_active_blocs{
  min-height: calc(100vh - 10rem);
}

div[id^="page_active_blocs"]{
  .field-collection-action, .field-collection-item-action{
    //display: none;
  }
  svg{
    transition: .3s;
  }
  label svg{
    margin-left: 1rem;
  }
  > .form-group.type{
    display: flex;
    align-items: center;
  }
  > div > .collection-empty{
    display: none;
  }
}

#deplierBlocs ~ .empty{
  display: none;
}

.bloc-help{
  position: relative;
  cursor: help;
  z-index: 10;
  &.hide{
    display: none;
  }
  &:hover + p, &:hover p{
    display: flex;
  }
  svg{
    color: $color-brand2;
  }
  p{
    display: none;
    position: absolute;
    bottom: 60%;
    left: 100%;
    background-color: #FFF;
    padding: 1rem;
    border: 1px solid #979797;
    box-shadow: 2px 2px 2px #999999;
    white-space: nowrap;
    z-index: 10;
  }
  + p{//Liste des blocs
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #A1A1A1;
    padding: 2.7rem 1rem 1rem;
    color: #FFF;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}

#page_active_blocs_, #page_active_blocsAnnexes{
  > .type{
    border-bottom: 2px solid $color-brand2;
    select, label{
      display: inline-block;
    }
    select{
      margin-right: .5rem;
    }
    label{
      margin-right: 1rem;
    }
  }
}

/* Barre d'actions */
.bloc-barreActions{
  position: absolute;
  top: 1rem;
  right: 2rem;
  z-index: 10;
  > *{
    display: inline-block;
    > svg, > span > svg{
      color: $color-brand2;
    }
  }
  + ul{
    display: none;
    position: absolute;
    right: 2rem;
    top: 4rem;
    list-style: none;
    margin: 0;
    padding: 2px;
    background: #f5f5f5;
    border: 1px solid #979797;
    box-shadow: 2px 2px 2px #999999;
    a{
      padding: 0 1rem;
      color: #75726B;
      display: block;
      text-decoration: none;
      width: auto;
      white-space: nowrap;
      line-height: 2.4em;
      text-shadow: 1px 1px 0 white;
      border-radius: 1px;
      &:hover{
        background-color: #e8f3b0;
        box-shadow: 0 0 2px #A1BA1D;
      }
      svg{
        margin-right: 1rem;
      }
    }
  }
  &.actif{
    + ul{
      display: block;
      z-index: 100;
    }
  }
}

.drag{
  font-size: 2rem;
}

.drag:hover{
  cursor: grab;
}

.drag:active{
  cursor: grabbing;
}

.bloc-menu{
  position: relative;
  span{
    cursor: pointer;
    font-size: 2rem;
    padding: 0 1rem;
  }
}

.bloc-optionsAffichage{
  display: none;
  background: #FFF;
  padding: .5rem 1rem 1rem;
  margin-top: 1rem;
  &.actif{
    display: block;
  }
  p{
    align-items: center;
    color: $color-brand2;
    font-size: 1.8rem;
    svg:first-child{
      color: $color-primary;
      margin-right: .5rem;
    }
  }
}

.bloc-optionsAffichage-fermeture{
  cursor: pointer;
}

//Liste blocs
.listeBlocs, .listeBlocsAnnexes{
  flex-direction: column;
  justify-content: center;
  &.actif{
    display: flex;
    overflow-y: scroll;
  }
  &.chargement{
    .listeBlocs-chargement, .listeBlocsAnnexes-chargement{
      display: block;
    }
    ul, .listeBlocs-fermeture, .listeBlocsAnnexes-fermeture, .voirBlocs{
      display: none;
    }
  }
  ul{
    list-style: none;
    width: 100%;
    li{
      position: relative;
      cursor: pointer;
      background-color: $white;
      padding: 1.5rem;
      box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
      margin-bottom: 2rem;
      text-align: center;
      border: 3px solid $white;
      display: flex;
      align-items: center;
      @include respond-to("small"){
        padding: 1rem;
        margin-bottom: 1rem;
      }
      &.hidden{
        display: none;
      }
      &:hover{
        border-color: $color-brand2;
      }
      > svg{
        font-size: 3.5rem;
        margin-bottom: .5rem;
        color: $color-brand2;
        margin-right: 2rem;
        @include respond-to("small"){
          font-size: 3rem;
        }
      }
    }
  }
  .bloc-help{
    position: absolute;
    width: auto;
    top: 1rem;
    right: 1rem;
    svg{
      color: $color-primary;
    }
  }
}

.voirBlocs{
  background-color: $color-base;
  &:hover{
    background-color: $color-brand2;
  }
}

.bloc-nom{
  font-size: 2rem;
  line-height: 1;
}

.listeBlocs-chargement, .listeBlocsAnnexes-chargement{
  display: none;
  position: absolute;
  z-index: 10;
  left: calc(50% - 7.5rem);
  top: calc(50% - 7.5rem);
  font-size: 15rem;
  color: $color-brand2;
}

//Liste blocs annexes
.listeBlocsAnnexes{
  .disabled{
    background-color: #DBDBDB;
    border-color: #DBDBDB;
    cursor: not-allowed;
    &:hover{
      border-color: #DBDBDB;
    }
    svg{
      color: #727272;
    }
  }
}

//Liste des blocs - d'n'd
@keyframes clignotement{
  from{
    opacity: 100%;
  }
  to{
    opacity: 40%;
  }
}

.listeBlocsDnD-bloc{
  z-index: 1000;
}

.editionContenusPage{
  position: relative;
  > .row{
    width: calc(100% - 25rem);
    .listeBlocsDnD-bloc{
      &.chargement{
        animation-name: clignotement;
        animation-duration: .5s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
      }
    }
  }
}

.listeBlocsDnD{
  position: fixed;
  top: 14rem;
  right: 0;
  width: 25rem;
  height: calc(100vh - 14rem);
  overflow: hidden auto;

  ul{
    background-color: #f7f7f7;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 1rem;
  }

  &-bloc{
    border-radius: 50%;
    background-color: $color-brand2;
    width: 7.5rem;
    height: 7.5rem;
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: move;
    margin: .5rem 0;
    svg{
      font-size: 2.5rem;
      margin-bottom: .5rem;
    }
    .bloc-nom{
      font-size: 1.3rem;
    }
  }
}

//Image
.bloc-image{
  strong{
    color: $color-brand2;
    font-size: 2rem;
  }
}

//Slider, Grille et Galerie (+ drag formulaire)
.dragSlide, .dragGalerie, .dragChamp, .dragCase, .dragSection{
  font-size: 2rem;
  color: $color-brand2;
  position: absolute;
  top: .5rem;
  right: 1rem;
}

.field-Slide > div > div, .bloc-galerie .field-images > div > div, .field-cases > div > div{
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem;
}

.field-slide, .bloc-galerie .field-galerie_image, .field-case{
  position: relative;
  padding: 1rem;
  background-color: #EDEDED;
  width: calc(50% - 2rem);
  margin: 0 1rem 2rem;
}

//Accordéon
.bloc-accordeon .field-section{
  position: relative;
  padding: 1rem;
  background-color: #EDEDED;
  margin: 0 0 2rem;
}

//Slider
.bloc-slider .radio{
  display: inline-block;
  margin-right: 2rem;
}

.field-Slide{
  .field-image_defaut{
    padding: 1rem;
    background-color: #E1E0E0;
  }
}

//Formulaire
.bloc-formulaire{
  .field-choix.vide{
    display: none;
  }
  .field-destinataires{
    .field-text{
      padding: 1rem;
      background-color: #EDEDED;
    }
  }
  .field-champ{
    position: relative;
    padding: 1rem;
    background-color: #EDEDED;
  }
  .field-choix{
    padding: 1rem;
    background-color: #E1E0E0;
  }
}

//Groupe de blocs
.bloc-groupeblocs-edition{
  align-items: center;
  a{
    text-decoration: none;
  }
}

//Blocs ouverts / fermés
#page_active_blocs_, #page_active_blocsAnnexes{
  .hide{
    display: none;
  }
}

.toggleBloc{
  font-size: 2rem;
  margin: 0 1rem;
  cursor: pointer;
  &.rotate svg{
    transform: rotate(180deg);
  }
}

//Page de configuration
.configBlocs{
  td, th{
    border: none;
  }
}

//Confirmation suppression
.suppressionBloc{
  display: none;
  position: absolute;
  right: calc(100% + 2.5rem);
  bottom: -2.5rem;
  white-space: nowrap;
  padding: 1rem 1.2rem;
  color: #000;
  background: #e6e6e6;
  border-radius: .4em;
  .btn{
    font-size: 1.4rem;
    padding: 1rem;
  }
  .btn-danger{
    background-color: $color-danger;
    &:hover{
      background-color: darken($color-danger, 10);
    }
  }
}

.suppressionBloc:after{
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-left-color: #e6e6e6;
  border-right: 0;
  border-top: 0;
  margin-top: -10px;
  margin-right: -20px;
}

//Bloc réseaux sociaux
.bloc-reseauxsociaux label, .bloc-reseauxsociaux input[type="text"]{
  display: inline-block;
}

body.edit, body.new{
  .bloc-reseauxsociaux input[type="text"]{
    width: calc(100% - 4rem) !important;
  }
}

//Bloc grille
.bloc-grille{
  .radio{
    display: inline-block;
    margin-right: 2rem;
  }
  select{
    width: 100%;
  }
  .field-bouton, .field-image_defaut{
    padding: 1rem;
    background-color: #E1E0E0;
    > label{
      font-weight: bold;
    }
  }
  .field-case.page{
    > div > .field-text, > div > .field-textarea, > div > .field-image_defaut, > div > .field-bouton{
      display: none;
    }
  }
}

//Images de galerie et slides
.field-galerie_image, .field-slide{
  display: flex;
  flex-direction: column;
  .lien-page{
    order: 1;
  }
  .field-collection-item-action{
    order: 2;
  }
}

//Bloc LEI
.bloc-lei--recherche{
  background-color: $color-fonce;
  padding: 0 1rem .5rem;
  margin-left: -1rem;
  margin-right: -1rem;
}

.bloc-lei .field-modalite{
  margin-top: 0;
  > div{
    display: flex;
    > div{
      margin-right: 1rem;
    }
  }
}