//Couleurs de profondeur
.fonce, .tresFonce{
  padding: 1rem;
  margin: 1rem 2rem;
  &.lien-page{
    margin: 1rem 0;
  }
}

.fonce{
  background-color: #EDEDED;
}

.tresFonce{
  background-color: #E1E0E0;
}

/* Bouton pour ajouter un bloc */
.ajout-blocAnnexe{
  background-color: $color-brand2;
  color: $white;
  text-decoration: none;
  font-size: 1.8rem;
  padding: .7rem 1.5rem;
  border-radius: .5rem;
  &:hover{
    color: $white;
    background-color: $color-brand2-dark;
    text-decoration: none;
  }
  &:active, &:focus{
    background-color: $color-brand2;
    color: $white;
    text-decoration: none;
  }
}

.ajout-bloc{
  background-color: $white;
  color: $white;
  text-decoration: none;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  padding: 0;
  margin: auto;
  &:hover{
    color: $white;
    background-color: $white;
    svg{
      color: lighten($color-brand2, 5);
    }
  }
  svg{
    color: $color-brand2;
    font-size: 3rem;
  }
}

.ui-draggable-dragging:not(.dndPlaceholder){//Btn "ajouter un bloc"
  width: 20rem;
}

.ajoutBloc.btn{
  background-color: $color-brand2;
  border-radius: 2rem;
  cursor: move;
  transition: background-color 0s;
  color: $white !important;
  &:hover{
    background-color: $color-brand2;
  }
}

.dndPlaceholder{//Placeholder
  animation-name : placeholder;
  animation-duration : .3s;
}

.conteneurBlocs > .dndBlocs > .dndPlaceholder{//Placeholder à la racine
  display: block;
  max-width: $large;
  width: 100%;
}

.ajoutBloc.btn.dndPlaceholder, .conteneurBlocs > .dndBlocs .ajoutBloc{
  flex: 1;
  display: block;
}

.ajoutBloc.btn.dndPlaceholder, .conteneurBlocs > .dndBlocs .ajoutBloc:not(.ui-draggable-dragging){
  border: 2px dashed red;
  min-height: 5rem;
  background-color: transparent;
  border-radius: 0;
  box-shadow: none;
  z-index: 200;
  font-size: 0;
  svg{
    display: none;
  }
}

.form-group.field-bloc, .form-group.field-bloc_annexe{
  position: relative;
  &.desactive{
    background-color: #DFDFDF;
    > div:not(.bloc-barreActions){
      opacity: .7;
    }
  }
  > label{
    display: none;
  }
  &:hover > .bloc-barreActions{
    display: block;
  }
}

.form-group.field-bloc.nvBloc{
  min-height: 5rem;
}

.form-group.field-bloc_annexe.nvBloc{
  opacity: 0;
}

.conteneurBlocs{
  padding-top: 6rem;
  background-color: #EEE;
  margin-bottom: -3rem;
  padding-bottom: 20rem;
  margin-left: -2rem;
  margin-right: -2rem;
  min-height: calc(100vh - 15rem);
  > .collection-empty{
    display: none;
  }
}

.toggleAffichageBlocs{
  position: fixed;
  top: 13.5rem;
  width: 100vw;
  background: #EEEEEE;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  left: 0;
  z-index: 90;
  display: flex;
  align-items: center;
  padding: 1rem 2rem 1rem 1rem;
  color: $white;
  body.notFull &{
    left: 30rem;
    width: calc(100vw - 30rem);
  }
  body.edit-region &, body.new-region &{
    top: 11.5rem;
  }
}

#toggleConteneurs, #toggleMiseEnPage{
  border-radius: 2rem;
  background-color: #B1B1B1;
  color: $white;
  font-family: $font-family-base;
}

#toggleConteneurs{
  margin-right: auto;
}

.miseEnPage{
  #toggleMiseEnPage{
    background-color: $color-brand2;
  }
  .form-group.field-bloc:not(.bloc-section){
    border: 2px dashed #DADCE0;
    min-height: 2rem;
    background-color: $white;
    &:not(.mbauto){
      margin-bottom: 3px;
    }
    &:hover{
      border: 2px dashed #a3a5a9;
    }
  }
  .blocsEnfants .form-group.field-bloc{
    background-color: transparent;
  }
}

.conteneurs{
  #toggleConteneurs{
    background-color: $color-brand2;
  }
  .form-group.field-bloc.bloc-section{
    box-shadow: 0 0 5px #939393;
    border: 1px solid $white;
    padding: 2rem;
    margin-bottom: 5px;
  }
  .bloc-section{
    background-color: #FFF;
    .blocsEnfants > .field-collection-action{
      display: block;
    }
  }
}

.form-group.field-bloc_annexe{
  background-color: #EDEDED;
  margin: 1rem 0;
  padding: 1rem 2rem;
  &.focus{
    box-shadow: 0 0 1rem $color-brand2-dark;
  }
}

.type-bloc{
  color: $color-brand2;
  margin-bottom: 0;
  font-size: 1.8rem;
  margin-left: .5rem;
}

//Section
.blocsEnfants > .dndBlocs{
  display: flex;
  flex-wrap: wrap;
}

.blocsEnfants{
  > .collection-empty{
    display: none;
  }
  > .field-collection-action{
    display: none;
  }
}

div[id^="page_active_blocs"], div[id^="region_blocs"]{
  .field-collection-action, .field-collection-item-action{
    //display: none;
  }
  label svg{
    margin-left: 1rem;
  }
  > .form-group.type{
    display: flex;
    align-items: center;
  }
  > div > .collection-empty{
    display: none;
  }
}


.bloc-help{
  position: relative;
  cursor: help;
  z-index: 10;
  &.hide{
    display: none;
  }
  &:hover + p, &:hover p{
    display: flex;
  }
  svg{
    color: $color-brand2;
  }
  p{
    display: none;
    position: absolute;
    bottom: 60%;
    left: 100%;
    background-color: #FFF;
    padding: 1rem;
    border: 1px solid #979797;
    box-shadow: 2px 2px 2px #999999;
    white-space: nowrap;
    z-index: 10;
  }
  + p{//Liste des blocs
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #A1A1A1;
    padding: 2.7rem 1rem 1rem;
    color: #FFF;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}

#page_active_blocs_, #page_active_blocsAnnexes{
  height: 100%;
  > .type{
    select, label{
      display: inline-block;
    }
    select{
      margin-right: .5rem;
    }
    label{
      margin-right: 1rem;
    }
  }
}

.conteneurBlocs > .dndBlocs{
  max-width: $large;
  margin: auto;
  min-height: 10rem;
  > .pleineLargeur{
    width: calc(100vw - 2rem);
    position: relative;
    left: calc(50% + 1rem);
    right: calc(50% + 1rem);
    margin-left: -50vw;
    body.notFull &{
      width: calc(100vw - 32rem);
      left: calc(50% + 16rem);
      right: calc(50% + 16rem);
    }
  }
}

#page_active_blocs_ > .type{
  display: none;
  position: absolute;
  top: -2px;
  left: -2px;
  margin-top: 0;
  background-color: $color-brand2;
  padding: 0 1rem;
  border-bottom-right-radius: 2rem;
  z-index: 15;
  label{
    color: $white;
  }
  .bloc-help svg {
    color: $white;
  }
}

#page_active_blocsAnnexes > .type{
  border-bottom: 2px solid $color-brand2;
}

/* Barre d'actions */
.bloc-barreActions{
  position: absolute;
  z-index: 25;
  display: none;
  > *{
    color: $white;
    height: 3rem;
    width: 3rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    > span{
      display: none;
      font-size: 1.6rem;
    }
  }
  + ul{
    display: none;
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 2px;
    background: #f5f5f5;
    border: 1px solid #979797;
    box-shadow: 2px 2px 2px #999999;
    white-space: nowrap;
    a{
      padding: 0 1rem;
      color: #75726B;
      text-decoration: none;
      width: auto;
      white-space: nowrap;
      line-height: 2.4em;
      text-shadow: 1px 1px 0 white;
      border-radius: 1px;
      &:not(.hidden){
        display: block;
      }
      &:hover{
        background-color: #e8f3b0;
        box-shadow: 0 0 2px #A1BA1D;
      }
      svg{
        margin-right: 1rem;
      }
    }
  }
  &.actif{
    + ul{
      display: block;
      z-index: 100;
    }
  }
}

.field-bloc:not(.bloc-section) > .bloc-barreActions, .field-bloc_annexe > .bloc-barreActions{
  top: .5rem;
  right: .5rem;
  flex-direction: column;
  > *{
    background-color: $color-brand2;
    border-radius: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border: 2px solid;
    margin-bottom: .3rem;
    margin-left: auto;
    &:hover{
      width: 20rem;
      padding: 0 3rem 0 1rem;
      justify-content: flex-start;
      > svg{
        margin-right: .5rem;
      }
      > span{
        display: inline;
      }
    }
  }
}

.field-bloc:not(.bloc-section) > .bloc-barreActions + ul{
  right: 4.5rem;
  top: 9.7rem;
}

.field-bloc_annexe > .bloc-barreActions + ul{
  right: 4.5rem;
  top: 0rem;
}

.field-bloc.bloc-section > .bloc-barreActions{
  top: 0;
  left: 0;
  background-color: $color-brand2;
  border-radius: 0 0 2rem 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  .conteneurs &{
    display: flex;
  }
  .optionsAffichage{
    border-left: 1px solid;
    border-right: 1px solid;
  }
  + ul{
    left: 1rem;
    top: 3rem;
  }
}

.miseEnPage .field-bloc:not(.bloc-section):hover{
  > #page_active_blocs_ > .type{
    display: flex;
  }
}

.miseEnPage .field-bloc:not(.bloc-section):not(.ui-sortable-helper):hover{
  > .bloc-barreActions{
    display: flex;
  }
}

.drag{
  font-size: 2rem;
}

.drag:hover{
  cursor: grab;
}

.drag:active{
  cursor: grabbing;
}

.bloc-menu{
  position: relative;
}

.bloc-optionsAffichage{
  background: #FFF;
  p{
    align-items: center;
    font-size: 1.8rem;
    svg:first-child{
      margin-right: .5rem;
    }
  }
  .bloc-panel--body > div{
    margin-bottom: 1rem;
  }
}

.bloc-optionsAffichage-fermeture{
  cursor: pointer;
}

  //Padding
.togglePadding.item-center{
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

//Liste blocs
.listeBlocs, .listeBlocsAnnexes{
  flex-direction: column;
  justify-content: center;
  &.actif{
    display: flex;
    overflow-y: scroll;
  }
  &.chargement{
    .listeBlocs-chargement, .listeBlocsAnnexes-chargement{
      display: block;
    }
    h3, ul, .listeBlocs-fermeture, .listeBlocsAnnexes-fermeture, .voirBlocs{
      display: none;
    }
  }
  h3{
    color: $white;
    font-size: 2rem;
    margin-left: 2rem;
  }
  ul{
    list-style: none;
    width: 100%;
    li{
      position: relative;
      cursor: pointer;
      background-color: $white;
      padding: 1.5rem;
      box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
      margin-bottom: 2rem;
      text-align: center;
      border: 3px solid $white;
      display: flex;
      align-items: center;
      @include respond-to("small"){
        padding: 1rem;
        margin-bottom: 1rem;
      }
      &.hidden{
        display: none;
      }
      &:hover{
        border-color: $color-brand2;
      }
      > svg{
        font-size: 3.5rem;
        margin-bottom: .5rem;
        color: $color-brand2;
        margin-right: 2rem;
        @include respond-to("small"){
          font-size: 3rem;
        }
      }
    }
  }
  .bloc-help{
    position: absolute;
    width: auto;
    top: 1rem;
    right: 1rem;
    svg{
      color: $color-primary;
    }
  }
}

.voirBlocs{
  background-color: $color-base;
  color: $white;
  &:hover{
    background-color: $color-brand2;
  }
}

.bloc-nom{
  font-size: 2rem;
  line-height: 1;
}

.listeBlocs-chargement, .listeBlocsAnnexes-chargement{
  display: none;
  position: absolute;
  z-index: 10;
  left: calc(50% - 7.5rem);
  top: calc(50% - 7.5rem);
  font-size: 15rem;
  color: $color-brand2;
}

//Liste blocs annexes
.listeBlocsAnnexes{
  .disabled{
    background-color: #DBDBDB;
    border-color: #DBDBDB;
    cursor: not-allowed;
    &:hover{
      border-color: #DBDBDB;
    }
    svg{
      color: #727272;
    }
  }
}

//Image
.bloc-image{
  strong{
    color: $color-brand2;
    font-size: 2rem;
  }
}

//Slider, Grille et Galerie (+ drag formulaire)
.dragSlide, .dragGalerie, .dragChamp, .dragCase, .dragSection{
  font-size: 2rem;
  color: $color-brand2;
  position: absolute;
  top: .5rem;
  right: 1rem;
  cursor: grab;
}

.field-Slide > div > div, .bloc-galerie .field-images > div > div, .field-cases > div > div{
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem;
}

.field-slide, .bloc-galerie .field-galerie_image, .field-case{
  position: relative;
  padding: 1rem;
  background-color: #EDEDED;
  width: calc(50% - 2rem);
  margin: 0 1rem 2rem;
}

//Accordéon
.bloc-accordeon .field-section{
  position: relative;
  padding: 1rem;
  background-color: #EDEDED;
  margin: 0 0 2rem;
  .blocsEnfants &{
    background-color: $color-tres-fonce;
  }
}

//Slider
.bloc-slider .radio{
  display: inline-block;
  margin-right: 2rem;
}

.field-Slide{
  .field-image_defaut{
    padding: 1rem;
    background-color: #E1E0E0;
  }
}

//Formulaire
.bloc-formulaire{
  .field-choix.vide{
    display: none;
  }
  .field-destinataires{
    .field-text{
      padding: 1rem;
      background-color: #EDEDED;
    }
  }
  .field-champ{
    position: relative;
    padding: 1rem;
    background-color: #EDEDED;
  }
  .field-choix{
    padding: 1rem;
    background-color: #E1E0E0;
  }
}

//Blocs partagés
.bloc-blocPartage-edition{
  align-items: flex-end;
  a{
    text-decoration: none;
  }
}

  //Création / édition d'un bloc partagé
body.new.new-blocpartage, body.edit.edit-blocpartage{
  #main{
    padding-top: 12.5rem;
  }
}

body.new.new-blocpartage{
  .content-header span{
    display: none;
  }
}

#new-blocpartage-form{
  .noDrag{
    display: none;
  }
  .dndBlocs{
    min-height: 5rem;
  }
}

#new-blocpartage-form, #edit-blocpartage-form{
  .toggleAffichageBlocs{
    top: 11.5rem;
  }
  .conteneurBlocs > div > .field-bloc > .bloc-barreActions > .bloc-menu{
    display: none;
  }
  .bloc-panel.bloc-optionsAffichage{
    top: 11rem;
  }
}

//Blocs ouverts / fermés
#page_active_blocs_, #page_active_blocsAnnexes{
  .hide{
    display: none;
  }
}

.toggleBloc{
  font-size: 2rem;
  margin: 0 1rem;
  cursor: pointer;
  &.rotate svg{
    transform: rotate(180deg);
  }
}

//Page de configuration
.configBlocs{
  td, th{
    border: none;
  }
}

//Confirmation suppression
.suppressionBloc{
  display: none;
  position: absolute;
  right: calc(100% + 2.5rem);
  bottom: -2.5rem;
  white-space: nowrap;
  padding: 1rem 1.2rem;
  color: #000;
  background: #e6e6e6;
  border-radius: .4em;
  .btn{
    font-size: 1.4rem;
    padding: 1rem;
  }
  .btn-danger{
    background-color: $color-danger;
    &:hover{
      background-color: darken($color-danger, 10);
    }
  }
}

.suppressionBloc:after{
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-left-color: #e6e6e6;
  border-right: 0;
  border-top: 0;
  margin-top: -10px;
  margin-right: -20px;
}

//Bloc réseaux sociaux
.bloc-reseauxsociaux label, .bloc-reseauxsociaux input[type="text"]{
  display: inline-block;
}

body.edit, body.new{
  .bloc-reseauxsociaux input[type="text"]{
    width: calc(100% - 4rem) !important;
  }
}

//Bloc grille
.bloc-grille{
  .radio{
    display: inline-block;
    margin-right: 2rem;
  }
  select{
    width: 100%;
  }
  .field-bouton, .field-image_defaut{
    padding: 1rem;
    background-color: #E1E0E0;
    > label{
      font-weight: bold;
    }
  }
  .field-case.page{
    > div > .field-text, > div > .field-textarea, > div > .field-image_defaut, > div > .field-bouton{
      display: none;
    }
  }
}

//Images de galerie et slides
.field-galerie_image, .field-slide{
  display: flex;
  flex-direction: column;
  .lien-page{
    order: 1;
  }
  .field-collection-item-action{
    order: 2;
  }
}

//Panels
.bloc-panel{
  z-index: 50;
  font-family: $font-family-base;
  select, input{
    padding: 0.3rem 1rem;
  }
  select{
    border: 1px solid #DADCE0;
    box-shadow: none;
  }
}

.bloc-panel--header{
  padding: .5rem 1rem;
  background-color: $color-brand2;
  color: $white;
  display: flex;
  align-items: center;
  span{
    margin-left: .5rem;
  }
}

.bloc-panel--body{
  padding: 1rem 1.5rem 1.5rem;
  background-color: #fff;
}

  //Panel formulaire
.bloc-panel.bloc-formulaire{
  position: absolute;
  right: -2px;
  top: -2px;
  width: 60rem;
  .bloc-panel--body{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  }
}

  //Panel options d'affichage
.miseEnPage .form-group.field-bloc:not(.bloc-section), .conteneurs .form-group.field-bloc.blocSection{
  &.bloc-optionsAffichagefocus, &.bloc-formulairefocus{
    border: 2px dashed $color-brand2;
  }
}

.bloc-panel.bloc-optionsAffichage{
  position: fixed;
  top: 19rem;
  right: 0;
  width: 32rem;
  height: calc(100vw - 19rem);
  body.new-region &, body.edit-region &{
    top: 17rem;
  }
  .field-choice{
    display: flex;
    flex-wrap: wrap;
    > label{
      width: 100%;
    }
  }
  select{
    box-shadow: 0 0 0 1px #DADCE0 inset;
  }
}

.bloc-optionsAffichage--alignement{
  display: flex;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding: .5rem .5rem 0;
  input{
    display: none;
    + img{
      border: 2px solid transparent;
      padding: .3rem;
    }
    &:checked + img{
      border-color: $color-brand2;
    }
  }
  img{
    width: 2.8rem;
    height: 2.8rem;
  }
}

//Drag'n'drop
.dndEnCours{
  min-height: 5rem;
}

.dndPlaceholder {
  border: 2px dashed red;
}

//Bloc LEI
.bloc-lei--recherche{
  background-color: $color-fonce;
  padding: 0 1rem .5rem;
  margin-left: -1rem;
  margin-right: -1rem;
}

.bloc-lei .field-modalite{
  margin-top: 0;
  > div{
    display: flex;
    > div{
      margin-right: 1rem;
    }
  }
}