//Couleurs de profondeur
.fonce, .tresFonce{
  padding: 1rem;
  margin: 1rem 2rem;
  &.lien-page{
    margin: 1rem 0;
  }
}

.fonce{
  background-color: #EDEDED;
}

.tresFonce{
  background-color: #E1E0E0;
}

/* Bouton pour ajouter un bloc */
.ajout-blocAnnexe{
  background-color: $color-brand2;
  color: $white;
  text-decoration: none;
  font-size: 1.8rem;
  padding: .7rem 1.5rem;
  border-radius: .5rem;
  &:hover{
    color: $white;
    background-color: $color-brand2-dark;
    text-decoration: none;
  }
  &:active, &:focus{
    background-color: $color-brand2;
    color: $white;
    text-decoration: none;
  }
}

.ajout-bloc{
  background-color: $white;
  color: $white;
  text-decoration: none;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  margin: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  padding: 0;
  &:hover{
    color: $white;
    background-color: $white;
    svg{
      color: lighten($color-brand2, 5);
    }
  }
  svg{
    color: $color-brand2;
    font-size: 3rem;
  }
}

.form-group.field-bloc, .form-group.field-bloc_annexe{
  position: relative;
  &.desactive{
    background-color: #DFDFDF;
    opacity: .7 !important;
  }
  &.nvBloc{
    opacity: 0;
  }
  > label{
    display: none;
  }
  &:first-of-type{
    .monterBloc{
      display: none;
    }
  }
  &:last-of-type{
    .descendreBloc{
      display: none;
    }
  }
}

#toggleConteneurs, #toggleMiseEnPage{
  border-radius: 2rem;
  background-color: #B1B1B1;
}

.miseEnPage{
  #toggleMiseEnPage{
    background-color: $color-brand2;
  }
  .form-group.field-bloc:not(.bloc-section){
    border: 2px dashed #DADCE0;
    padding: 1rem 2rem;
    &:hover{
      border: 2px dashed #a3a5a9;
    }
  }
}

.conteneurs{
  #toggleConteneurs{
    background-color: $color-brand2;
  }
  .form-group.field-bloc.bloc-section{
    box-shadow: 0 0 5px #939393;
    padding: 2rem;
  }
  .bloc-section{
    .ajout-bloc{
      display: flex;
    }
  }
}

.form-group.field-bloc_annexe{
  background-color: #F7F7F7;
  margin: 1rem 0;
  padding: 1rem 2rem;
  &.focus{
    box-shadow: 0 0 1rem $color-brand2-dark;
  }
}

.type-bloc{
  color: $color-brand2;
  margin-bottom: 0;
  font-size: 1.8rem;
  margin-left: .5rem;
}

//Section
.bloc-section{
  .ajout-bloc{
    display: none;
  }
}

.blocsEnfants > div, #groupeblocs_blocs{
  display: flex;
  flex-wrap: wrap;
}

div[id^="page_active_blocs"]{
  .field-collection-action, .field-collection-item-action{
    //display: none;
  }
  svg{
    transition: .3s;
  }
  label svg{
    margin-left: 1rem;
  }
  > .form-group.type{
    display: flex;
    align-items: center;
  }
  > div > .collection-empty{
    display: none;
  }
}


.bloc-help{
  position: relative;
  cursor: help;
  z-index: 10;
  &.hide{
    display: none;
  }
  &:hover + p, &:hover p{
    display: flex;
  }
  svg{
    color: $color-brand2;
  }
  p{
    display: none;
    position: absolute;
    bottom: 60%;
    left: 100%;
    background-color: #FFF;
    padding: 1rem;
    border: 1px solid #979797;
    box-shadow: 2px 2px 2px #999999;
    white-space: nowrap;
    z-index: 10;
  }
  + p{//Liste des blocs
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #A1A1A1;
    padding: 2.7rem 1rem 1rem;
    color: #FFF;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}

#page_active_blocs_, #page_active_blocsAnnexes{
  > .type{
    select, label{
      display: inline-block;
    }
    select{
      margin-right: .5rem;
    }
    label{
      margin-right: 1rem;
    }
  }
}

#page_active_blocs{
  max-width: $large;
  margin: auto;
  > .pleineLargeur{
    width: calc(100vw - 2rem);
    position: relative;
    left: calc(50% + 1rem);
    right: calc(50% + 1rem);
    margin-left: -50vw;
    margin-right: -50vw;
  }
}

#page_active_blocs_ > .type{
  display: none;
  position: absolute;
  top: -2px;
  left: -2px;
  margin-top: 0;
  background-color: $color-brand2;
  padding: 0 1rem;
  border-bottom-right-radius: 2rem;
  label{
    color: $white;
  }
  .bloc-help svg {
    color: $white;
  }
}

#page_active_blocsAnnexes > .type{
  border-bottom: 2px solid $color-brand2;
}

/* Barre d'actions */
.bloc-barreActions{
  position: absolute;
  z-index: 10;
  display: none;
  > *{
    color: $white;
    height: 3rem;
    width: 3rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  + ul{
    display: none;
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 2px;
    background: #f5f5f5;
    border: 1px solid #979797;
    box-shadow: 2px 2px 2px #999999;
    a{
      padding: 0 1rem;
      color: #75726B;
      display: block;
      text-decoration: none;
      width: auto;
      white-space: nowrap;
      line-height: 2.4em;
      text-shadow: 1px 1px 0 white;
      border-radius: 1px;
      &:hover{
        background-color: #e8f3b0;
        box-shadow: 0 0 2px #A1BA1D;
      }
      svg{
        margin-right: 1rem;
      }
    }
  }
  &.actif{
    + ul{
      display: block;
      z-index: 100;
    }
  }
}

.field-bloc:not(.bloc-section) > .bloc-barreActions{
  top: .5rem;
  right: .5rem;
  flex-direction: column;
  > *{
    background-color: $color-brand2;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border: 2px solid;
    margin-bottom: .3rem;
  }
  + ul{
    right: 4.5rem;
    top: 8rem;
  }
}

.field-bloc.bloc-section > .bloc-barreActions{
  top: 0;
  left: 0;
  background-color: $color-brand2;
  border-radius: 0 0 2rem 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  .conteneurs &{
    display: flex;
  }
  .optionsAffichage{
    border-left: 1px solid;
    border-right: 1px solid;
  }
  + ul{
    left: 1rem;
    top: 3rem;
  }
}

.miseEnPage .field-bloc:hover{
  > .bloc-barreActions, > #page_active_blocs_ > .type{
    display: flex;
  }
}

.drag{
  font-size: 2rem;
}

.drag:hover{
  cursor: grab;
}

.drag:active{
  cursor: grabbing;
}

.bloc-menu{
  position: relative;
  span{
    font-size: 2rem;
    padding: 0 1rem;
  }
}

.bloc-optionsAffichage{
  background: #FFF;
  p{
    align-items: center;
    font-size: 1.8rem;
    svg:first-child{
      margin-right: .5rem;
    }
  }
  .bloc-panel--body > div{
    margin-bottom: 1rem;
  }
}

.bloc-optionsAffichage-fermeture{
  cursor: pointer;
}

  //Padding
.togglePadding{
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

//Liste blocs
.listeBlocs, .listeBlocsAnnexes{
  flex-direction: column;
  justify-content: center;
  &.actif{
    display: flex;
    overflow-y: scroll;
  }
  &.chargement{
    .listeBlocs-chargement, .listeBlocsAnnexes-chargement{
      display: block;
    }
    ul, .listeBlocs-fermeture, .listeBlocsAnnexes-fermeture, .voirBlocs{
      display: none;
    }
  }
  ul{
    list-style: none;
    width: 100%;
    li{
      position: relative;
      cursor: pointer;
      background-color: $white;
      padding: 1.5rem;
      box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
      margin-bottom: 2rem;
      text-align: center;
      border: 3px solid $white;
      display: flex;
      align-items: center;
      @include respond-to("small"){
        padding: 1rem;
        margin-bottom: 1rem;
      }
      &.hidden{
        display: none;
      }
      &:hover{
        border-color: $color-brand2;
      }
      > svg{
        font-size: 3.5rem;
        margin-bottom: .5rem;
        color: $color-brand2;
        margin-right: 2rem;
        @include respond-to("small"){
          font-size: 3rem;
        }
      }
    }
  }
  .bloc-help{
    position: absolute;
    width: auto;
    top: 1rem;
    right: 1rem;
    svg{
      color: $color-primary;
    }
  }
}

.voirBlocs{
  background-color: $color-base;
  &:hover{
    background-color: $color-brand2;
  }
}

.bloc-nom{
  font-size: 2rem;
  line-height: 1;
}

.listeBlocs-chargement, .listeBlocsAnnexes-chargement{
  display: none;
  position: absolute;
  z-index: 10;
  left: calc(50% - 7.5rem);
  top: calc(50% - 7.5rem);
  font-size: 15rem;
  color: $color-brand2;
}

//Liste blocs annexes
.listeBlocsAnnexes{
  .disabled{
    background-color: #DBDBDB;
    border-color: #DBDBDB;
    cursor: not-allowed;
    &:hover{
      border-color: #DBDBDB;
    }
    svg{
      color: #727272;
    }
  }
}

//Image
.bloc-image{
  strong{
    color: $color-brand2;
    font-size: 2rem;
  }
}

//Slider, Grille et Galerie (+ drag formulaire)
.dragSlide, .dragGalerie, .dragChamp, .dragCase{
  font-size: 2rem;
  color: $color-brand2;
  position: absolute;
  top: .5rem;
  right: 1rem;
}

.field-Slide > div > div, .bloc-galerie .field-images > div > div, .field-cases > div > div{
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem;
}

.field-slide, .bloc-galerie .field-galerie_image, .field-case{
  position: relative;
  padding: 1rem;
  background-color: #EDEDED;
  width: calc(50% - 2rem);
  margin: 0 1rem 2rem;
}

//Slider
.bloc-slider .radio{
  display: inline-block;
  margin-right: 2rem;
}

//Formulaire
.bloc-formulaire{
  .field-choix.vide{
    display: none;
  }
  .field-destinataires{
    .field-text{
      padding: 1rem;
      background-color: #EDEDED;
    }
  }
  .field-champ{
    position: relative;
    padding: 1rem;
    background-color: #EDEDED;
  }
  .field-choix{
    padding: 1rem;
    background-color: #E1E0E0;
  }
}

//Groupe de blocs
.bloc-groupeblocs-edition{
  align-items: center;
  a{
    text-decoration: none;
  }
}

//Blocs ouverts / fermés
#page_active_blocs_, #page_active_blocsAnnexes{
  .hide{
    display: none;
  }
}

.toggleBloc{
  font-size: 2rem;
  margin: 0 1rem;
  cursor: pointer;
  &.rotate svg{
    transform: rotate(180deg);
  }
}

//Page de configuration
.configBlocs{
  td, th{
    border: none;
  }
}

//Confirmation suppression
.suppressionBloc{
  display: none;
  position: absolute;
  right: calc(100% + 2.5rem);
  bottom: -2.5rem;
  white-space: nowrap;
  padding: 1rem 1.2rem;
  color: #000;
  background: #e6e6e6;
  border-radius: .4em;
  .btn{
    font-size: 1.4rem;
    padding: 1rem;
  }
  .btn-danger{
    background-color: $color-danger;
    &:hover{
      background-color: darken($color-danger, 10);
    }
  }
}

.suppressionBloc:after{
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-left-color: #e6e6e6;
  border-right: 0;
  border-top: 0;
  margin-top: -10px;
  margin-right: -20px;
}

//Bloc réseaux sociaux
.bloc-reseauxsociaux label, .bloc-reseauxsociaux input[type="text"]{
  display: inline-block;
}

body.edit, body.new{
  .bloc-reseauxsociaux input[type="text"]{
    width: calc(100% - 4rem) !important;
  }
}

//Bloc grille
.bloc-grille{
  .radio{
    display: inline-block;
    margin-right: 2rem;
  }
  select{
    width: 100%;
  }
  .field-bouton, .field-image_defaut{
    padding: 1rem;
    background-color: #E1E0E0;
    > label{
      font-weight: bold;
    }
  }
  .field-case.page{
    > div > .field-text, > div > .field-textarea, > div > .field-image_defaut, > div > .field-bouton{
      display: none;
    }
  }
}

//Images de galerie et slides
.field-galerie_image, .field-slide{
  display: flex;
  flex-direction: column;
  .lien-page{
    order: 1;
  }
  .field-collection-item-action{
    order: 2;
  }
}

//Panels
.bloc-panel{
  position: absolute;
  top: -2px;
  z-index: 100;
  left: -2px;
  width: calc(100% + 4px);
  select{
    border: 1px solid #DADCE0;
    box-shadow: none;
  }
}

.bloc-panel--header{
  padding: .5rem 1rem;
  background-color: $color-brand2;
  color: $white;
  display: flex;
  align-items: center;
  span{
    margin-left: .5rem;
  }
}

.bloc-panel--body{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  padding: 1rem 1.5rem 1.5rem;
  background-color: #fff;
}