.infobulle{
  display: inline-block;
  position: relative;
  span{
    display: none;
    position: absolute;
    bottom: 100%;
    left: 100%;
    white-space: nowrap;
    border: 1px solid;
    padding: .5rem;
    box-shadow: 0 0 5px;
    z-index: 100;
    background-color: #FFF;
  }
  &:hover span{
    display: block;
  }
}

.groupeDeChamps{
  background: #F7F7F7;
  padding: 1rem;
  margin: 1rem 0;
  border: 1px solid #CACACA;
  .box-header{
    color: $color-brand2;
    h3{
      display: flex;
      align-items: center;
    }
    svg{
      font-size: 2rem;
      margin-right: 1rem;
    }
  }
}

//Page
#page_active_dateDepublication{
  margin-bottom: .5rem;
}

//Utilisateur
form.autreUtilisateur .mdp{
  display: none;
}

//Image
body.edit, body.new{
  input[id$=_largeurMax], input[id$=_hauteurMax]{
    width: 7rem;
  }
}

//Select multiples
.select-multiple{
  + .select2-container{
    width: 100% !important;
  }
}

.select2-container--default .select2-results__group{
  display: none;
}

.select2-container--default .select2-results__option--highlighted[aria-selected]{
  background-color: $color-brand;
}

//Pictos LEI
.pictosLEI{
  .field-picto{
    display: flex;
    align-items: flex-end;
    padding: 1rem;
    &:first-of-type{
      .control-label{
        display: block;
      }
    }
    &:not(:first-of-type){
      .field-collection-item-action{
        margin-left: 3.5rem;
      }
    }
    &:nth-of-type(2n){
      background-color: $color-fonce;
    }
    > div{
      display: flex;
      > div{
        margin-right: 2rem;
      }
    }
  }
  .control-label{
    display: none;
  }
}

  //Picto
.pictosLEI{
  .field-picto > div > div:last-of-type{
    display: flex;
    flex-wrap: wrap;
    label{
      width: 100%;
    }
    > div{
      display: flex;
    }
  }
  a{
    margin: auto 1rem;
  }
  .bloc_image_apercu_mediatheque{
    width: 5rem;
    img{
      height: 3rem;
    }
  }
}