.listeBlocs-fermeture, .listeBlocsAnnexes-fermeture, .conteneurApercu-fermeture{
  color: $black;
  cursor: pointer;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .3s;
}

.listeBlocs-fermeture, .listeBlocsAnnexes-fermeture, .conteneurApercu-fermeture{
  position: fixed;
  top: 2rem;
  right: 2rem;
  background-color: $white;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
}

.listeBlocs, .listeBlocsAnnexes, .conteneurChargement, #conteneurApercu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background-color: rgba(164, 161, 161, 0.8);
  padding: 5rem;
  align-items: center;
  @include respond-to("small"){
    padding: 5rem 6.5rem;
  }
  ul{
    padding: 0;
  }
}

.listeBlocs, .listeBlocsAnnexes, .conteneurChargement, #conteneurApercu{
  display: none;
}

.listeBlocs, .listeBlocsAnnexes{
  [class*="grid-6"].has-gutter-l > li{
    @include respond-to("extra-large"){
      width: calc(100% / 3 - 2rem - 0.01px);
    }
    @include respond-to("small"){
      width: 100%;
    }
  }
}

.conteneurChargement{
  display: none;
  font-size: 15rem;
  color: $color-brand2;
  &.actif{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.hidden{
  display: none;
}