@import "../_config/variables";
@import "../_config/mixins";
@import "../_library/grillade-flex";
@import "../_library/responsive";

body.connected{
  margin-top: 3.8rem;
  &.voirPage, &.accueil{
    margin-top: 7.4rem;
  }
}

/* Header */
.main-header{
  font-family: 'Cabin';
  font-size: 1.6rem;
  line-height: 1.5;
  background-color: $color-primary;
  height: 38px;
  position: fixed;
  width: calc(100% - 30rem);
  top: 0;
  left: 30rem;
  z-index: 1000;
  box-shadow: 0 4px 4px rgba(0,0,0,.25);
  @include respond-to("medium"){
    width: calc(100% - 15rem);
    left: 15rem;
  }
  @include respond-to("small"){
    width: calc(100% - 8rem);
    left: 8rem;
  }
  .navbar{
    display: flex;
    height: 100%;
  }
  a{
    color: #FFF;
    text-decoration: none;
    display: flex;
    align-items: center;
    line-height:1.1;
  }
}

  /* Menu horizontal */
.sidebar-menu{
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex:1;
  color: #FFF;
  margin: 0;
  border-left: 1px solid #75726b;
  a{
    padding: 0 1rem;
    height: 100%;
  }
  > li{
    height:100%;
    display: flex;
    align-items: center;
    > a{
      transition: background-color .3s .1s;
    }
    > a span{
      margin-left: 1rem;
      @include respond-to("extra-large"){
        display: none;
      }
    }
  }
  ul{
    background-color: $color-primary;
    list-style: none;
    padding:0;
  }
  li{
    position: relative;
    white-space: nowrap;
    &:hover > a{
      background-color: darken($color-primary, 15);
    }
    > ul{//Nv 2
      visibility: hidden;
      opacity: 0;
      transition: visibility .3s .1s, opacity .3s .1s;
      position: absolute;
      top:38px;
    }
    &:hover > ul{
      visibility: visible;
      opacity: 1;
      display: block;
    }
  }
  > li > ul > li{
    > a > span{
      padding-right: 1rem;
    }
    > a{
      border-bottom: 1px solid #FFF;
      padding: 1rem;
      svg:not(.fa-power-off){
        transform: rotate(-90deg);
        margin-left: auto;
      }
    }
    &:last-child > a{
      border: none;
    }
  }
}

.sidebar-menu li > ul > li > ul {//Nv 3
  top: 0;
  left: 100%;
  background-color: darken($color-primary, 5);
  > li > a{
    border-bottom: 1px solid #FFF;
    padding: 1rem;
    padding-right: 2rem;
    svg:not(.fa-power-off){
      transform: rotate(-90deg);
    }
  }
  > li:last-child > a{
    border: none;
  }
}

/* Menu compte */
.navbar-custom-menu{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 25%;
  strong{
    margin-right: 2rem;
  }
  a{
    margin-right: 1rem;
  }
  ul{
    list-style: none;
  }
}

#header-imageProfil, #header-sansImageProfil{
  width: 3.2rem;
  height: 3.2rem;
}

#header-imageProfil{
  object-fit: cover;
  border: 1px solid #FFF;
  border-radius: 50%;
  @include respond-to("tiny-up"){
    margin-right: 1rem;
  }
}

#voirSite{
  padding: 0 1rem;
  height: 100%;
  background-color: darken($color-primary, 15);
  &:hover{
    background-color: $black;
  }
}

// Onglets d'édition en front
#ongletsEditionFront{
  position: fixed;
  top: 3.8rem;
  left: 0;
  z-index: 100;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: .5rem 0 0;
  margin: 0;
  background-color: $color-brand2;
  width: 100%;
  font-family: "Cabin";
  font-size: 1.6rem;
  body.notFull &{
    @include respond-to("medium-up"){
      left: 30rem;
      width: calc(100% - 30rem);
    }
  }
  li{
    border-bottom: 7px solid $color-brand2;
    &:hover{
      border-color: #92D8E9;
    }
  }
  a{
    color: $white;
    text-decoration: none;
    padding: 0 1rem;
  }
}