/* Page de login */
html{
  overflow: hidden;
}

body{
  margin:0;
}

#loginPage{
  height:100vh;
  width:100vw;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  > *{
    background-color: rgba(255,255,255,.8);
    border-radius: 1rem;
    padding: 2rem 6rem;
    font-size: 1.4rem;
    @include respond-to("small"){
      width: 90%;
      padding: 2rem;
    }
    > img, > input{
      display: block;
    }
    img{
      margin:0 auto 1rem auto;
      @include respond-to("small"){
        max-width: 10rem;
      }
    }
    label{
      color: $color-brand2;
      margin-top: 1.5rem;
      display: block;
    }
    input{
      border-radius: 5px;
      box-shadow: none;
      border: none;
      background-color: #FFF;
      &[type="text"], &[type="password"]{
        width: 35rem;
        @include respond-to("small"){
          width: 100%;
        }
      }
      &[type="submit"]{
        margin: 3.5rem auto 0 auto;
        background-color: $color-brand2;
        border: none;
        padding: 1rem;
        &:hover{
          background-color: $color-brand2-dark;
        }
      }
    }
  }
  > form{
    padding: 0 6rem 2rem;
    @include respond-to("small"){
      padding: 2rem;
    }
  }
  .flash-error{//Message d'erreur
    background-color: rgba(255,0,0,.8);
    color: #FFF;
    font-weight: bold;
    margin: 2rem;
    display: flex;
    align-items: center;
    svg{
      font-size: 2rem;
      margin-right: 1rem;
    }
  }
  div[class^="flash"]{
    margin: 2rem;
  }
}

.mdpOublie, .retourAccueil{
  color:#818485;
  text-decoration: none;
  &:hover{
    color: #000;
    text-decoration: none;
  }
}

#animation_container{
  margin-top: -2rem;
  margin-left: auto;
  margin-right: auto;
  @media screen and (max-width: 499px){
    width: auto !important;
    height: auto !important;
    .fond{
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      max-width: 35rem;
      height: 34rem;
      background-image: url(/assets/img/login/logo.gif);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
    }
    #canvas, #dom_overlay_container{
      display: none;
    }
  }
  @media screen and (max-width: 400px){
    .fond{
      height: 31rem;
    }
  }
}

.retourAccueil{
  margin-bottom: 2rem;
}