//Page et onglet référencement
#onglet_SEO, .listeSEO-conteneur{
  .metaTitre, #seo_metaTitre{
    color: #1a0dab;
    font-size: 2rem;
  }
  .url, #seo_url{
    color: #006621;
    font-size: 1.6rem;
  }
  .metaDescription, #seo_metaDescription{
    color: #545454;
    font-size: 1.4rem;
  }
}

.listeSEO-conteneur{
  max-width: 65rem;
  margin-top: 10rem;
  > div {
    padding: 1rem 0;
    > div {
      padding: 0 1rem;
    }
  }
  .nav-tabs{
    margin: 0 -1rem;
  }
  .titre{
    font-style: italic;
    font-size: 1.4rem;
    color: lighten($color-base, 30);
    border-bottom: 1px solid;
    padding-bottom: .5rem;
    margin-bottom: .5rem;
  }
  .actions{
    margin-top: 2rem;
  }
}

.listeSEO-SEO{
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  margin: 1rem 0;
  padding: 1rem 0;
  > div{
    padding: 0 1rem;
  }
  .filtreChargement{
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: rgba(#FEFEFE, .7);
  }
  &.chargement{
    .filtreChargement{
      display: block;
    }
  }
}

.listeSEO-actions{
  text-align: right;
  margin-top: -2rem;
  span{
    cursor: pointer;
    margin-right: 1rem;
    &:last-of-type{
      margin-right: 0;
    }
  }
}

.listeSEO-conteneur > div > .listeSEO-edition{
  padding: 1rem;
}

.listeSEO-apercu{
  > div{
    display: flex;
    align-items: center;
  }
}

.listeSEO-edition{
  display: none;
  position: absolute;
  left: 0;
  width: 100%;
  background-color: #FFF;
  text-align: right;
  label{
    display: none;
  }
  input[type="text"], textarea{
    padding: 0 .5rem;
    width: 100%;
    background-color: transparent;
  }
  button[type='submit']{
    display: none;
  }
}

.listeSEO-formulaire{
  form > div{
    display: flex;
  }
  .score-SEO{
    width: 12rem;
    display: flex;
    align-items: center;
    border-right: 1px solid rgba($color-base, .5);
    text-align: left;
    margin-right: 2rem;
  }
  input{
    margin-bottom: .5rem;
  }
}

.listeSEO-action-enregistrer, .listeSEO-action-annuler{
  cursor: pointer;
  font-size: 1.8rem;
  margin-left: 1rem;
}

.listeSEO-action-enregistrer{
  color: $color-brand;
}

.listeSEO-action-annuler{
  color: $color-danger;
  margin-left: auto;
}

.score-SEO{
  .bulle{
    display: inline-block;
    border: 1px solid $color-base;
    border-radius: 50%;
    width: 1.6rem;
    height: 1.6rem;
    margin-right: 1rem;
  }
  &.danger .bulle{
    background-color: $color-danger;
  }
  &.warning .bulle{
    background-color: $color-warning;
  }
  &.success .bulle{
    background-color: $color-brand;
  }
  .score{
    font-size: 1.5rem;
    color: $color-base;
  }
}

//Onglet SEO
.progression, .nbCaracteres{
  display: inline-block;
}

.progression{
  height: .5rem;
  width: 20rem;
  border: 1px solid #0000001a;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: .5rem;
  > div{
    height: 100%;
    transition: all .3s;
  }
  &.rouge{
    > div{
      width: 33%;
      background-color: $color-danger;
    }
  }
  &.orange{
    > div{
      width: 66%;
      background-color: $color-warning;
    }
  }
  &.vert{
    > div{
      width: 100%;
      background-color: $color-success;
    }
  }
}

.seo-attention{
  display: inline-block;
  position: relative;
  cursor: help;
  &:hover{
    span{
      display: block;
    }
  }
  span{
    display: none;
    position: absolute;
    bottom: 100%;
    left: 100%;
    background-color: #FFF;
    padding: 1rem;
    border: 1px solid #979797;
    box-shadow: 2px 2px 2px #999999;
    z-index: 10;
    min-width: 25rem;
  }
  svg{
    color: $color-danger;
  }
}