@import "../_config/variables";
@import "../_config/mixins";
@import "../_library/responsive";

/* Sidebar */
.main-sidebar{
  font-family: 'Cabin';
  font-size: 1.6rem;
  line-height: 1.5;
  width: 30rem;
  position: fixed;
  color: #FFF;
  top: 0;
  left: 0;
  z-index: 1000;
  background: #F7F7F7;
  @include respond-to("medium"){
    width: 15rem;
  }
  @include respond-to("small"){
    width: 8rem;
  }
  a{
    color: #666666;
    text-decoration: none;
  }
}

body.notFull{
  @include respond-to("medium-up"){
    margin-left: 30rem !important;
    overflow-x: hidden;
  }
  .main-sidebar{
    height: 100vh;
    width: 30rem;
  }
}

body.full{
  margin-left: 0 !important;
}

/* Toggle colonne gauche */
.main-sidebar{
  height: 3.8rem;
  > .sidebar{
    height: 100% !important;
    display: flex;
    flex-direction: column;
  }
  .sidebar-menus, #sidebar-logo{
    display: none;
  }
}

body.notFull .main-sidebar{
  .sidebar-menus{
    display: block;
  }
  #btnArbo .fa-chevron-circle-down{
    transform: rotate(180deg);
  }
}

/* Arborescence */
.sidebar-menus{
  height: calc(100% - 3.8rem);
  div[id^='menu']{
    a{
      white-space: initial;
      display: inline-block;
      max-width: calc(100% - 2.4rem);
      font-size: 1.4rem;
      line-height: 20px;
    }
  }
}

.arbo-titre{
  height: 3.8rem;
  box-shadow: 0 4px 4px rgba(0,0,0,.25);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  @include respond-to("small"){
    span{
      display: none;
    }
  }
  &.active{
    background-color: #A1BA1D;
  }
  svg{
    margin: 0 1rem;
  }
  #btnArbo{
    display: block;
    height: 100%;
    width: 100%;
    margin-left: 1rem;
    color: #FFF;
    padding: .6rem 0;
  }
}

.arbo-langues{
  background-color: darken(#A1BA1D, 10);
  padding: 1rem 2rem;
  box-shadow: 0 4px 4px rgba(0,0,0,.25);
  span{
    border: 1px solid #FFF;
    height:3.5rem;
    width:3.5rem;
    display: inline-block;
    opacity:.5;
    &.current, &:hover{
      opacity:1;
    }
    a{
      display: flex;
      height: 100%;
      width: 100%;
      align-items: center;
      justify-content: center;
      color: #FFF;
    }
  }
}

.arborescence{
  height: calc(100% - 11rem);
  overflow-y: auto;
  .langueUnique &{
    height: calc(100% - 5rem);
  }
  > .menu:first-of-type{
    margin-top: 0;
  }
}

.pageAccueil{
  padding-left: 3rem;
  color: $color-primary;
  line-height: 1;
  p{
    margin-bottom: 0;
  }
  svg{
    margin-right: 1.5rem;
  }
}

.main-sidebar a.sansPageAccueil{
  text-decoration: underline;
  svg{
    margin-right: .5rem;
  }
}

li[data-jstree='{"type":"root"}'] > a, li[data-jstree='{"type":"orphan"}'] > a{
  background-image: url('/assets/img/menu.png');
  background-repeat: no-repeat;
  background-position: calc(100% - 1rem) 50%;
  &.jstree-context{
    background-image: url('/assets/img/menuHover.png');
  }
}

/* Recherche */
.sidebar.global-actions{
  margin-bottom: 1rem;
  .action-search{
    .input-group{
      position: relative;
      width: 100%;
      input[type='search']{
        width: 100%;
        padding-right: 3rem;
        background: transparent;
        border-bottom: 1px solid $color-brand2;
        box-shadow: none;
      }
    }
  }
}

.sidebar.global-actions{
  > div{
    text-align: center;
    padding-top: 1rem;
  }
  .input-group{
    padding: 0 1rem;
    svg{
      cursor: pointer;
      top: calc(50% - 1rem);
      right: 2rem;
      position: absolute;
      color: #000;
      font-size: 2rem;
      &.hidden{
        display: none;
      }
    }
  }
}

.sidebar.input-group-btn{
  right: 1rem;
  height: 100% !important;
}

#loader-arbo{
  position: absolute;
  top: 1rem;
  right: 2.5rem;
  color: #666666;
}

.menuToggle{
  cursor: pointer;
  position: relative;
  span{
    position: absolute;
    right: 1rem;
    top: calc(50% - 1.6rem);
    display: inline-block;
  }
  svg{
    margin-left: .5rem;
  }
}

.main-sidebar .page-active{//Mise en avant page active dans les menus
  color: #A1BA1D;
}


.main-sidebar .menu{
  margin: 1rem 0;
  position: relative;
  font-weight: 500;
  > div > ul > li{
    background-color: #E1E1E1 !important;
    > i{
      margin-top: 1rem !important;
    }
    > a{
      font-size: 1.6rem !important;
      padding: 1rem 2rem 1rem 1rem;
      width: 100%;
      &:hover{
        color: #666666;
      }
      svg{
        width: 20px;
      }
      svg.fa-ellipsis-v{
        position: absolute;
        right: 1rem;
        top: 1.2rem;
      }
    }
    > ul{
      background-color: #F7F7F7;
      box-shadow: inset 0 4px 4px -2px rgba(0,0,0,0.25);
      padding-top: 1rem;
    }
  }
}

/* Logo */
#sidebar-logo{
  background-color: $color-brand2;
  padding: 1rem;
  width: 100%;
  box-shadow: 0 -4px 4px rgba(0,0,0,.25);
  z-index: 10;
  img{
    height: 25px;
    display: block;
  }
}

/* Jstree */
#jstree-marker{
  z-index: 1000;
}

/* Clic droit sur arbo */
.vakata-context, #pageAccueil-menu{
  z-index: 1000;
  position: absolute;
}

.vakata-context.jstree-contextmenu{
  position: fixed;
}

.vakata-context li > a, #pageAccueil-menu li > a{
  padding: 0 1rem;
  color: $color-primary;
  font-size: 1.6rem;
  font-family: 'Cabin';
}

.vakata-context li > a:hover, .vakata-context .vakata-context-hover > a, #pageAccueil-menu li > a:hover{
  background-color: lighten(#A1BA1D, 40);
  box-shadow: 0 0 2px #A1BA1D;
}

.vakata-context li > a .vakata-contextmenu-sep{
  background: none;
  border: none;
}

/* Page d'accueil */
.pageAccueil{
  position: relative;
}

#pageAccueil-menu{
  display: none;
  top: calc(100% + 2px);
}

//Filtre
#recherche-arbo-resultats{
  display: none;
  color: $black;
  padding: 1rem;
  height: 100%;
  overflow-y: scroll;
  ul{
    padding-left: 2rem;
  }
  li{
    line-height: 1;
    margin-bottom: 1rem;
  }
}

//Pop-up ajout de pages
#popup-ajoutPage{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background-color: rgba(164, 161, 161, 0.8);
  padding: 5rem;
  display: flex;
  align-items: center;
  font-family: 'Cabin';
  font-size: 1.6rem;
  line-height: 1.5;
  h2{
    color: $color-brand2;
    margin-bottom: 1rem;
    font-family: 'Cabin';
    font-size: 2.5rem;
    line-height: 1;
  }
  form{
    padding: 0;
  }
  label{
    display: block;
    cursor: pointer;
    color: #0791B3;
    margin-bottom: 0;
  }
  input[type="text"]{
    box-shadow: none;
    border-bottom: 1px solid $color-brand2;
    margin-bottom: 0;
    background: rgba(238, 238, 238, 0.34);
    padding: 0.3rem 1rem;
  }
  input[type="submit"]{
    padding: 1rem 1.5rem;
  }
}

#ajoutPage-titre{
  box-shadow: none;
  border-bottom: 1px solid #0791B3;
  background-color: transparent;
}

div.popup-ajoutPage-close{
  top: 1rem;
  right: 2rem;
  position: absolute;
  color: $color-brand2;
  font-size: 2rem;
  cursor: pointer;
}

.popup-ajoutPage-formulaire{
  position: relative;
  background-color: $white;
  padding: 2rem;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  input[type="text"]{
    margin-bottom: 1rem;
    @include respond-to("small-up"){
      min-width: 50rem;
    }
  }
}

.ajoutPage-actions{
  margin-top: 2.5rem;
  font-size: 1.8rem;
  button, button[type=submit]{
    @include boutonArrondi;
  }
  svg{
    margin-right: .5rem;
  }
}

//Boutons d'édition de la page et des groupes de blocs
body.notFull #sidebar-logo{
  display: flex;
  .logo{
    padding: 0.5rem;
  }
}

#btn-edition-page, #btn-toggle-regions{
  color: $white;
  padding: 1rem;
  display: flex;
  align-items: center;
  border-radius: 10px;
  font-size: 2rem;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: lighten($color-brand2, 5);
  &:hover{
    background-color: darken($color-brand2, 10);
  }
}

#btn-toggle-regions{
  margin-left: auto;
  margin-right: 1rem;
  font-size: 1.4rem;
  height: 3rem;
  min-width: 3rem;
  span{
    display: none;
  }
  &:hover{
    span{
      display: inline;
    }
  }
  &.actif{
    background-color: $color-brand;
    &:hover{
      background-color: darken($color-brand, 10);
    }
  }
}

//Surbrillance des groupes de blocs
.surbrillance{
  border: 4px dashed $color-brand;
  width: 100%;
  height: 100%;
  max-width: none;
  position: absolute;
  top: 0;
  left: 0;
  a{
    padding: .8rem;
    border-radius: 50%;
    color: $white;
    background-color: $color-brand;
    position: absolute;
    top: 2px;
    right: 2px;
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
    text-align: center;
    &:hover{
      background-color: darken($color-brand, 10);
    }
  }
  .surbrillanceOff &{
    display: none;
  }
}
