.theme-messages{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba($white, .8);
  > *{
    display: none;
    align-items: center;
  }
  > div[class^="message"]{
    font-size: 3rem;
    background-color: $white;
    padding: .5rem;
  }
  .loader{
    font-size: 6rem;
  }
  svg{
    margin-right: .5rem;
  }
}

.message-ok{
  color: $color-brand;
}

.message-fail{
  color: $color-danger;
}

.theme{
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 2px solid $color-primary;
  margin-bottom: 4rem;
  &.actif{
    border-color: $color-brand;
  }
}

.theme-illustration{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E1E1E1;
  color: #FFF;
  overflow: hidden;
  height: 30rem;
  svg{
    font-size: 10rem;
  }
  img{
    min-height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.theme-actions{
  margin-top: auto;
  button, .btn{
    background-color: $color-primary;
  }
}

.theme-actif{
  background-color: $color-brand;
  color: $white;
  position: absolute;
  right: 0;
  top: 0;
  padding: .5rem 1rem;
  font-size: 2rem;
}

.theme:not(.actif) .theme-actif{
  display: none;
}

//Paramétrage
.parametrageTheme{
  .form-group{
    margin-bottom: 2rem;
    &.field-color{
      display: flex;
    }
  }
  label{
    display: block;
    margin-right: 1rem;
    + span{
      display: none;
    }
  }
  .radio label{
    color: $color-primary;
  }
  input[type=text]{
    border-bottom: 2px solid $color-brand2;
  }
  .field-choix_couleur{
    > div{
      display: flex;
      flex-direction: column;
    }
  }
  .select2-container{
    width: 100% !important;
  }
}

.echantillonCouleur{
  width: 3rem;
  height: 1rem;
  display: inline-block;
  margin-left: 1rem;
}

  //Guide de style
.elementParametrable{
  position: relative;
  cursor: pointer;
  border: 2px solid $white;
  &.actif{
    border: 2px solid $color-brand2;
  }
  &-conteneur{
    position: relative;
  }
}

.guideStyle{
  max-width: 70rem;
  > h2{
    background-color: $color-brand2;
    color: $white;
    text-align: center;
  }
  .parametres{
    display: none;
    position: absolute;
    left: 10rem;
    bottom: 100%;
    background-color: $white;
    width: 50rem;
    padding: 2rem;
    box-shadow: 0 4px 4px rgba(0,0,0,.25);
  }
}

.parametrageTheme-logo{
  img{
    max-width: 30rem;
  }
}

.parametrageTheme-couleurSurvolee, .parametrageTheme-couleurSelectionnee{
  min-width: 15rem;
  p{
    margin: .5rem 0;
    line-height: 1;
  }
  .echantillon{
    margin: 0 auto;
    width: 4rem;
    height: 4rem;
    border: 1px solid $black;
  }
}

.parametrageTheme-couleurs{
  .form-group{
    margin: 0 3rem 0 0;
    display: flex;
    flex-direction: column-reverse;
  }
}