.traductionTemplateChoix{
  div{
    display: flex;
    align-items: center;
  }
  label{
    margin: 0 1rem;
  }
}

#form_Traduire{
  margin-left: 1rem;
}

.nav-tabs-traductions{
  list-style: none;
  display: flex;
  padding: 0;
  li{
    padding: .5rem 1.5rem;
    border-bottom: 7px solid #92D8E9;
    &.active{
      border-color: $color-brand2;
    }
    a{
      text-decoration: none;
      font-size: 2rem;
    }
  }
}

#flash-messages.traductionTemplate-messages .alert-enregistrement{
  display: none;
}

.traductionTemplate-onglet{
  label{
    line-height: 1;
  }
  .flex-container{
    align-items: center;
  }
  input[type="text"]{
    border: 1px solid $color-brand2;
  }
}