<div class="grid-3 small-1 has-gutter-xl">
    {% for utilisateur in listerUtilisateurs() %}
        <div class="blocAnnuaire-utilisateur flex-container-v">
            {% if utilisateur.imageProfil is not empty %}
                <img src="uploads/{{ utilisateur.imageProfil }}" alt="{{ utilisateur.username }}">
            {% endif %}
            <p>{{ utilisateur.username }}</p>
            <p>{{ utilisateur.email }}</p>
        </div>
    {% endfor %}
</div>