<div id="ajoutBlocPartage" class="modal-box">
    <div class="modal-content modal-dialog">
        <form id="formulaireAjoutBlocPartage" action="{{ path('ajoutBlocPartage') }}" method="POST" autocomplete="off">
            <label for="nomBlocPartage">{{ "Nom du bloc partagé"|trans }}</label>
            <input id="nomBlocPartage" type="text" name="nomBlocPartage" required>
            <input type="hidden" name="idBloc">
            <input type="submit" value="Ajouter aux blocs partagés">
        </form>
    </div>
</div>