.listeBlocs-fermeture, .listeBlocsAnnexes-fermeture, #popup-ajoutPage-close{
  color: $black;
  position: absolute;
  cursor: pointer;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .3s;
}

.listeBlocs-fermeture, .listeBlocsAnnexes-fermeture{
  top: 2rem;
  right: 4rem;
  background-color: $white;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
}

#popup-ajoutPage-close{
  top: 1rem;
  right: 1.5rem;
}