@import "../_config/variables";
@import "../_config/mixins";
@import "../_library/grillade-flex";
@import "../_library/responsive";


/* Header */
.main-header{
  font-family: 'Mic32';
  background-color: $color-primary;
  height: 38px;
  position: fixed;
  width: calc(100% - 30rem);
  top: 0;
  left: 30rem;
  z-index: 1000;
  box-shadow: 0 4px 4px rgba(0,0,0,.25);
  .navbar{
    display: flex;
    height: 100%;
  }
  a{
    color: #FFF;
    text-decoration: none;
    display: flex;
    align-items: center;
    line-height:1.1;
  }
}

  /* Menu horizontal */
.sidebar-menu{
  padding: 0;
  list-style: none;
  display: flex;
  flex:1;
  color: #FFF;
  margin: 0;
  border-left: 1px solid #75726b;
  a{
    padding: 0 1rem;
    height: 100%;
  }
  > li{
    margin: auto;
    height:100%;
    display: flex;
    align-items: center;
    &:last-of-type{
      margin-right: 0;
      flex: .5;
      justify-content: flex-end;
    }
    > a span{
      margin-left: 1rem;
      @include respond-to("extra-large"){
        display: none;
      }
    }
  }
  ul{
    background-color: $color-primary;
    list-style: none;
    padding:0;
  }
  li{
    position: relative;
    white-space: nowrap;
    &:hover > a{
      background-color: darken($color-primary, 15);
    }
    > ul{
      display: none;
      position: absolute;
      top:38px;
    }
    &:hover > ul{
      display: block;
    }
  }
  > li > ul > li{
    > a{
      border-bottom: 1px solid #FFF;
      padding: 1rem;
    }
    &:last-of-type > a{
      border: none;
    }
  }
}

/* Menu compte */
.navbar-custom-menu{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 25%;
  strong{
    margin-right: 2rem;
  }
  a{
    margin-right: 1rem;
  }
  ul{
    list-style: none;
  }
}

#header-imageProfil, #header-sansImageProfil{
  width: 3.2rem;
  height: 3.2rem;
}

#header-imageProfil{
  object-fit: cover;
  margin-right: 1rem;
  border: 1px solid #FFF;
  border-radius: 50%;
}

#voirSite{
  padding: 0 1rem;
  height: 100%;
}