/* Header */
.main-header{
  font-family: 'Mic32';
  height: 38px;
  position: fixed;
  width: calc(100% - 30rem);
  z-index: 1000;
  top: 0;
  left: 30rem;
  .navbar{
    display: flex;
  }
}

  /* Menu horizontal */
.sidebar-menu{
  list-style: none;
  display: flex;
  flex:1;
  background-color: #5A5853;
  color: #FFF;
  margin: 0;
  border-left: 1px solid #75726b;
  a{
    color: #FFF;
    text-decoration: none;
    height: 100%;
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    line-height:1.1;
    span{
      margin:0 1rem;
    }
  }
  > li{
    margin: auto;
    height:100%;
    display: flex;
    align-items: center;
  }
  ul{
    background-color: #5A5853;
    list-style: none;
    padding:0;
  }
  li{
    position: relative;
    white-space: nowrap;
    &:hover {
      background-color: darken(#5A5853, 15);
    }
    > ul{
      display: none;
      position: absolute;
      top:36px;
      left:0;
    }
    &:hover > ul{
      display: block;
    }
  }
  > li > ul > li{
    > a{
      border-bottom: 1px solid #FFF;
    }
    &:last-of-type > a{
      border: none;
    }
  }
}