.listeSEO-conteneur{
  max-width: 59rem;
  > div{
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    margin: 1rem 0;
    padding: 1rem 0;
    > div{
      padding: 0 1rem;
    }
  }
  .page{
    font-style: italic;
    font-size: 1.4rem;
    color: lighten($color-base, 30);
    border-bottom: 1px solid;
    padding-bottom: .5rem;
    margin-bottom: .5rem;
  }
  .metaTitre, #seo_metaTitre{
    color: #1a0dab;
    font-size: 1.8rem;
  }
  .url, #seo_url{
    color: #006621;
    font-size: 1.4rem;
  }
  .metaDescription, #seo_metaDescription{
    color: #545454;
    font-size: 1.3rem;
  }
  .actions{
    margin-top: 2rem;
  }
}

.listeSEO-SEO{
  position: relative;
}

.listeSEO-actions{
  margin-top: 1rem;
  text-align: right;
  span{
    cursor: pointer;
    margin-right: 1rem;
  }
}

.listeSEO-SEO-champs{
  padding: 1rem;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FFF;
  label{
    display: none;
  }
  input[type="text"], textarea{
    padding: 0;
    width: 100%;
  }
  > div > div{
    margin-bottom: .5rem;
  }
}