.sauvegarde{
  h2{
    color: $color-brand2;
  }
  select{
    display: inline-block;
  }
  .hidden{
    display: none;
  }
}

.export-mediatheque{
  margin-top: 3rem;
}

.loader{
  display: none;
}

.sauvegarde button{
	margin-bottom: 1rem;
}
