@import "../_config/variables";
@import "../_config/mixins";
@import "../_library/grillade-flex";
@import "../_library/responsive";

/* Sidebar */
.main-sidebar{
  font-family: 'Cabin';
  width: 30rem;
  position: fixed;
  color: #FFF;
  top: 0;
  left: 0;
  z-index: 1000;
  background: #F7F7F7;
  @include respond-to("medium"){
    width: 15rem;
  }
  @include respond-to("small"){
    width: 8rem;
  }
  a{
    color: #666666;
    text-decoration: none;
  }
}

body.notFull{
  margin-left: 30rem !important;
  .main-sidebar{
    height: 100vh;
    width: 30rem;
  }
}

/* Toggle colonne gauche */
.main-sidebar{
  height: 3.8rem;
  > .sidebar{
    height: 100% !important;
    display: flex;
    flex-direction: column;
  }
  .sidebar-menus, #sidebar-logo{
    display: none;
  }
}

body.notFull .main-sidebar{
  .sidebar-menus, #sidebar-logo{
    display: block;
  }
  #btnArbo svg{
    transform: rotate(180deg);
  }
}

/* Arborescence */
.sidebar-menus{
  height: calc(100% - 3.8rem);
  div[id^='menu']{
    a{
      white-space: initial;
      display: inline-block;
      max-width: calc(100% - 2.4rem);
      font-size: 1.4rem;
      line-height: 20px;
    }
  }
}

.arbo-titre{
  padding: .6rem 0;
  height: 3.8rem;
  box-shadow: 0 4px 4px rgba(0,0,0,.25);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  @include respond-to("small"){
    span{
      display: none;
    }
  }
  &.active{
    background-color: #A1BA1D;
  }
  .fa-sitemap {
    margin-right: 1rem;
  }
  #btnArbo{
    margin-left: 1rem;
    color: #FFF;
  }
}

.arbo-langues{
  background-color: darken(#A1BA1D, 10);
  padding: 1rem 2rem;
  box-shadow: 0 4px 4px rgba(0,0,0,.25);
  span{
    border: 1px solid #FFF;
    height:3.5rem;
    width:3.5rem;
    display: inline-block;
    opacity:.5;
    &.current, &:hover{
      opacity:1;
    }
    a{
      display: flex;
      height: 100%;
      width: 100%;
      align-items: center;
      justify-content: center;
      color: #FFF;
    }
  }
}

.arborescence{
  height: calc(100% - 11rem);
  overflow-y: auto;
  > .menu:first-of-type{
    margin-top: 0;
  }
}

.pageAccueil{
  padding-left: 3rem;
  color: $color-primary;
  line-height: 1;
  p{
    margin-bottom: 0;
  }
  svg{
    margin-right: 1.5rem;
  }
}

.main-sidebar a.sansPageAccueil{
  text-decoration: underline;
  svg{
    margin-right: .5rem;
  }
}

/* Recherche */
.sidebar.global-actions{
  margin-bottom: 1rem;
  .action-search{
    .input-group{
      position: relative;
      width: 100%;
      input[type='search']{
        width: 100%;
        padding-right: 3rem;
        background: transparent;
        border-bottom: 1px solid $color-brand2;
        box-shadow: none;
      }
    }
  }
}

.sidebar.global-actions{
  > div{
    text-align: center;
    padding-top: 1rem;
  }
  .input-group{
    padding: 0 1rem;
    svg{
      cursor: pointer;
      top: calc(50% - 1rem);
      right: 2rem;
      position: absolute;
      color: #000;
      font-size: 2rem;
      &.hidden{
        display: none;
      }
    }
  }
}

.sidebar.input-group-btn{
  right: 1rem;
  height: 100% !important;
}

#loader-arbo{
  position: absolute;
  top:1rem;
  right:1rem;
  color: #666666;
}

.menuToggle{
  cursor: pointer;
  position: relative;
  span{
    position: absolute;
    right: 1rem;
    top: calc(50% - 1.6rem);
    display: inline-block;
  }
  svg{
    margin-left: .5rem;
  }
}

.main-sidebar .page-active{//Mise en avant page active dans les menus
  color: #A1BA1D;
}


.menu{
  margin: 1rem 0;
  position: relative;
  font-weight: 500;
  > div > ul > li{
    background-color: #E1E1E1 !important;
    > i{
      margin-top: 1rem !important;
    }
    > a{
      font-size: 1.6rem !important;
      padding: 1rem;
      svg{
        width: 20px;
      }
    }
    > ul{
      background-color: #F7F7F7;
      box-shadow: inset 0 4px 4px -2px rgba(0,0,0,0.25);
      padding-top: 1rem;
    }
  }
}

/* Logo */
#sidebar-logo{
  background-color: $color-brand2;
  padding: 1rem;
  width: 100%;
  box-shadow: 0 -4px 4px rgba(0,0,0,.25);
  z-index: 10;
  img{
    height: 25px;
    display: block;
  }
}

/* Clic droit sur arbo */
.vakata-context, #pageAccueil-menu{
  z-index: 1000;
  position: absolute;
}

.vakata-context.jstree-contextmenu{
  position: fixed;
}

.vakata-context li > a, #pageAccueil-menu li > a{
  padding: 0 1rem;
  color: $color-primary;
}

.vakata-context li > a:hover, .vakata-context .vakata-context-hover > a, #pageAccueil-menu li > a:hover{
  background-color: lighten(#A1BA1D, 40);
  box-shadow: 0 0 2px #A1BA1D;
}

.vakata-context li > a .vakata-contextmenu-sep{
  background: none;
  border: none;
}

/* Page d'accueil */
.pageAccueil{
  position: relative;
}

#pageAccueil-menu{
  display: none;
  top: calc(100% + 2px);
}

//Filtre
#recherche-arbo-resultats{
  display: none;
  color: $black;
  padding: 1rem;
  height: 100%;
  overflow-y: scroll;
  ul{
    padding-left: 2rem;
  }
  li{
    line-height: 1;
    margin-bottom: 1rem;
  }
}

//Pop-up ajout de pages
#popup-ajoutPage{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background-color: rgba(164, 161, 161, 0.8);
  padding: 5rem;
  display: flex;
  align-items: center;
  h2{
    color: $color-brand2;
    margin-bottom: 1rem;
  }
  p{
    color: $color-brand2;
  }
}

#popup-ajoutPage-close{
  position: absolute;
}

.popup-ajoutPage-formulaire{
  background-color: $white;
  padding: 2rem;
  input[type="text"]{
    margin-bottom: 1rem;
    @include respond-to("small-up"){
      min-width: 50rem;
    }
  }
}

#ajoutPage-infos{
  display: none;
}