.messages{
  height: 2.5rem;
  > *{
    display: none;
    align-items: center;
  }
  svg{
    margin-right: .5rem;
  }
}

.message-ok{
  color: $color-brand;
}

.message-fail{
  color: $color-danger;
}

.theme{
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 2px solid $color-primary;
  &.actif{
    border-color: $color-brand;
  }
}

.theme-illustration{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E1E1E1;
  color: #FFF;
  svg{
    font-size: 10rem;
  }
  img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.theme-actions{
  button, .btn{
    background-color: $color-primary;
  }
}

.theme-actif{
  background-color: $color-brand;
  color: $white;
  position: absolute;
  right: 0;
  top: 0;
  padding: .5rem 1rem;
  font-size: 2rem;
}

.theme:not(.actif) .theme-actif{
  display: none;
}