{% extends 'front/base.html.twig' %}

{% block title %}{{ parent() }} - Accueil{% endblock %}
{% block body %}
<main>
    {% if page.titre is defined %}<h1>{{ page.titre }}</h1>{% endif %}
    {% if page is not empty %}
        {% if page.modules is not empty %}
            {{ include('front/modules.html.twig') }}
        {% endif %}
    {% endif %}
</main>
{% endblock %}