{% if blocs is defined %}
    <div class="flex-container conteneurBlocs">
        {% for bloc in blocs if bloc.active %}
            {% include 'front/bloc.html.twig' with {'bloc': bloc} only %}
        {% endfor %}
    </div>
{% endif %}