<a href="{{ path('accueil') }}">{% trans %}Accueil{% endtrans %}</a>
{% if pageDansMenuPrincipal %}
    <span>></span>
    {% for page in ariane %}
        {% if loop.last %}
            {{ page.titre }}
        {% else %}
            <a href="{{ page.seo.url }}">{{ page.titre }}</a>
            <span>></span>
        {% endif %}
    {% endfor %}
{% endif %}