<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    {% include('front/extraCss.html.twig') %}
</head>
<body>
    {% block exemple %}{% endblock %}
</body>
</html>