<div class="grid-3 small-1 has-gutter-xl">
    {% for page in pagesDeLaCategorie(contenu.categorie) %}
        <div class="moduleCategorie-page flex-container-v">
            <p>{{ page.titre }}</p>
            <a href="{{ page.seo.url }}">{% trans %}Voir la page{% endtrans %}</a>
        </div>
    {% endfor %}
</div>