{% extends 'back/easyadmin/list.html.twig' %}

{% block main %}
    {% set _list_item_actions = easyadmin_get_actions_for_list_item(_entity_config.name) %}

    <div class="listeSEO-conteneur">
        {% for item in paginator.currentPageResults %}
            {% include 'back/easyadmin/SEO/_SEO.html.twig' with { item : item } only %}
        {% else %}
            <div class="no-results" colspan="{{ _list_item_actions|length > 0 ? fields|length + 1 : fields|length }}">
                {{ 'search.no_results'|trans(_trans_parameters, 'EasyAdminBundle') }}
            </div>
        {% endfor %}
    </div>

    {% block paginator %}
        {{ parent() }}
    {% endblock paginator %}

    {% block delete_form %}
        {{ parent() }}
    {% endblock delete_form %}
{% endblock main %}