main{
  max-width: $large;
  .pleineLargeur{
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }
}

.blocActualites, .blocTypeCategorie, .blocCategorie, .blocRubrique{
  h2{
    line-height: 1.1;
  }
}

//Accordéon
.blocAccordeon-titre{
  background-color: $color-brand;
  color: $white;
  padding: 1rem 2rem;
  margin-bottom: 2px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.8rem;
}

.blocAccordeon-texte{
  display: none;
  padding: 2rem;
}

//Annuaire
.blocAnnuaire-utilisateur{
  text-align: center;
  word-break: break-all;
  padding: 0 1rem;
  svg{
    font-size: 3rem;
  }
  p{
    margin-bottom: 1rem;
    &:first-of-type{
      font-weight: $weight-bold;
    }
  }
}

.blocAnnuaire-utilisateur-image{
  margin-bottom: 2rem;
}

//Formulaire
.blocFormulaire, .blocCommentaires{
  form > div, #form > div{
    margin-bottom: 2rem;
  }
  label:not(.labelCheck){
    font-weight: bold;
    + span{
      color: red;
    }
  }
  input[type="text"], textarea, select, input[type='checkbox'], input[type="password"], input[type="email"]{
    box-shadow: 0 0 0 1px #5CBFEE inset;
  }
  input[type="text"], textarea, input[type="password"], input[type="email"]{
    width: 100%;
    max-width: 50rem;
  }
  p[class^="erreur-bloc"], .erreur{
    color: red;
  }
  .bouton{
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

//Galerie
.blocGalerie > div > div{
  @include respond-to("small"){
    margin-bottom: 2rem;
  }
}

//Grille
.blocGrille{
  text-align: center;
  > div > div{
    margin-bottom: 4rem;
  }
  img{
    margin-bottom: 2rem;
  }
}

.blocGrille-case-image{
  height: 20rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  img{
    object-fit: cover;
    width: 100%;
  }
}

//LEI
.ficheLEI{
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
}

.ficheLEI-commune{
  color: $color-brand;
  font-weight: bold;
  margin-bottom: 0;
}

.ficheLEI-image, .ficheLEI-sansImage{
  height: 30rem;
  img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.ficheLEI-sansImage{
  a{
    color: #5cbfee4d;
    font-size: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}

.ficheLEI-titre{
  font-weight: bold;
  color: $color-brand;
  font-size: 1.8rem;
  line-height: 1.2;
  margin-top: 1rem;
}

.ficheLEI-description{
  flex: 1;
}

#galerieFiche, .pageFiche-sousTitre, .pageFiche-presentation, .pageFiche-adresse, .pageFiche-contact{
  padding-left: 1rem;
  padding-right: 1rem;
}

#galerieFiche{
  max-width: 50rem;
  a{
    width: 100%;
  }
  img{
    height: 100%;
    max-height: 30rem;
    width: 100%;
    object-fit: cover;
  }
}

//Menu de langue
.menuLangues{
  list-style: none;
  padding: 0;
  li{
    margin: 0 1rem;
  }
}

//Recherche
.blocRecherche form{
  display: flex;
  button[type="submit"]{
    border-radius: 0;
    box-shadow: none;
    margin-left: -1px;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
  }
}

//Réseaux sociaux
.blocReseauxSociaux-liens{
  display: flex;
  a{
    background-color: $color-brand;
    color: $white;
    width: 4rem;
    height: 4rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 .5rem;
    &:hover{
      background-color: darken($color-brand, 10);
    }
  }
  svg {
    font-size: 3rem;
  }
}

//Slider
.blocSlider{
  color: $white;
  a{
    color: $white;
  }
  .slick-prev, .slick-next{
    width: 40px;
    height: 40px;
    z-index: 10;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .slick-prev{
    left: 1rem;
  }
  .slick-next{
    right: 1rem;
  }
  .slick-prev::before, .slick-next::before{
    font-size: 40px;
    opacity: 1;
    color: #FFF;
  }
  .slick-dots li button::before{
    font-size: 1.2rem;
    color: $color-brand;
  }
  .slick-dots li.slick-active button::before{
    color: $color-brand;
  }
}

.slick-slide img{
  max-height: 30rem;
  width: 100%;
  object-fit: cover;
}

.blocSlider-slide--texte{
  padding: 1rem;
  background-color: $color-brand;
}

.blocSlider-slide--titre{
  font-size: 3rem;
}

//Type de catégorie
.blocTypeCategorie-categorie .bouton{
  padding: .5rem 1rem;
}

//Vidéo
.blocVideo iframe{
  width: 100%;
  height: 100%;
  min-height: 30rem;
  max-width: 50rem;
}