body{
  background: url('../img/background.jpg');
}

body.connected .header_front{
  padding-top: 5rem;
}

.bouton, #form_envoi{
  display: inline-block;
  background-color: $color-brand;
  color: $white;
  border-radius: 5px;
  padding: 1rem 1.5rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  transition: background-color .3s;
  &:hover{
    background-color: $color-brand-dark;
    text-decoration: none;
    color: $white;
  }
}

main{
  background-color: rgba($white, .9);
  div[class^="bloc"], h1, > p, > div > .description, > div > .extrait{
    padding: 1rem;
  }
  div.blocSlider, div[class^="blocAnnexe"]{
    padding: 0;
  }
}

h1, h2, h3{
  color: $color-brand2;
}

.infos-page{
  padding: 1rem;
}

#ariane{
  padding: 1rem;
  a{
    color: $color-brand2;
  }
}