body{
  background: url('../img/background.jpg');
}

body.connected .header_front{
  @include respond-to("medium-up"){
    padding-top: 5rem;
  }
}

.bouton, #form_envoi, input[type="submit"], button[type="submit"]{
  display: inline-block;
  background-color: $color-brand;
  color: $white;
  border-radius: 5px;
  padding: 1rem 1.5rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  transition: background-color .3s;
  &:hover, &:focus, &:active{
    background-color: $color-brand-dark;
    text-decoration: none;
    color: $white;
  }
}

main{
  background-color: rgba($white, .9);
  @include respond-to("small"){
    flex-direction: row !important;
  }
  div[class^="bloc"], h1, > p, > div > .description, > div > .extrait{
    padding: 1rem;
  }
  div.blocSlider, div[class^="blocAnnexe"]{
    padding: 0;
  }
}

h1, h2, h3{
  color: $color-brand2;
}

.infos-page{
  padding: 1rem;
}

#ariane{
  padding: 1rem;
  a{
    color: $color-brand2;
  }
}

.pagination{
  ul{
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    li{
      margin: 0 .5rem;
    }
    &, a{
      color: $color-brand2;
      font-weight: bold;
      text-decoration: none;
    }
    li:not(.pagination-active) span{
      opacity: .5;
    }
    li.pagination-active span{
      color: $black;
    }
  }
}
