body{
  background: url('../img/background.jpg');
}

body.connected .header_front{
  @include respond-to("medium-up"){
    padding-top: 5rem;
  }
}

.bouton, #form_envoi, input[type="submit"], button[type="submit"], .bouton-categorie{
  @include bouton;
}

main{
  background-color: rgba($white, .9);
  padding-top: 3rem;
  padding-bottom: 3rem;
  @include respond-to("small"){
    flex-direction: row !important;
  }
 /* > div[class^="bloc"]{
    @include centre;
    &:not(.blocTitre){
      margin-bottom: 3rem;
    }
  }*/
  .blocCommentaires{
    width: 100%;
  }
  h1, > p, > div > .description, > div > .extrait{
    padding: 1rem;
  }
  div.blocSlider, div[class^="blocAnnexe"]{
    padding: 0;
  }
}

h1, h2, h3{
  color: $color-brand2;
}

body.recherche h1{
  @include centre;
}

.titre-page, .infos-page{
  @include centre;
  padding: 1rem;
  width: 100%;
}

.bouton-categorie{
  margin-right: 1rem;
  padding: .5rem 1rem;
  svg{
    margin-right: .5rem;
  }
}

#ariane{
  @include centre;
  padding: 1rem;
  width: 100%;
  a{
    color: $color-brand2;
  }
}

.pagination{
  ul{
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    li{
      margin: 0 .5rem;
    }
    &, a{
      color: $color-brand2;
      font-weight: bold;
      text-decoration: none;
    }
    li:not(.pagination-active) span{
      opacity: .5;
    }
    li.pagination-active span{
      color: $black;
    }
  }
}
