.header_front{
  padding: 1rem;
  text-align: center;
  background-color: rgba($white, .7);
  position: relative;
}

.header_front .menuLangues{
  padding: 0;
  justify-content: flex-end;
  li{
    &.active{
      font-weight: bold;
    }
    a{
      text-decoration: none;
      color: $color-brand2;
    }
  }
}

.header_front .blocMenu{
  @include respond-to("medium"){
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #FFF;
    height: 100vh;
    width: 100vw;
    padding-top: 7rem;
  }
  ul{
    padding: 0;
    list-style: none;
    @include respond-to("medium-up"){
      display: flex;
      justify-content: center;
    }
  }
  a{
    color: $color-brand2;
    text-decoration: none;
    @include respond-to("medium"){
      font-weight: bold;
      color: $color-brand;
      display: flex;
      text-align: left;
      padding: 1rem;
    }
  }
  > div > ul > li{
    @include respond-to("medium-up"){
      &:after{
        content: "-";
        margin: 0 .5rem;
      }
      &:last-of-type:after{
        content: "";
      }
    }
  }
  li.parent{
    @include respond-to("medium"){
      position: relative;
      &:after{
        content: ">";
        color: $color-brand;
        font-weight: bold;
        transform: rotate(90deg);
        margin-left: auto;
        width: 4.4rem;
        height: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        right: 0;
      }
      > a{
        width: calc(100% - 4rem);
      }
      &.actif:after{
        transform: rotate(-90deg);
        padding-bottom: 5px;
      }
    }
    > ul{
      display: none;
      text-align: left;
      background-color: #FFF;
      z-index: 100;
      @include respond-to("medium-up"){
        position: absolute;
      }
      @include respond-to("medium"){
        padding-left: 2rem;
      }
      > li{
        position: relative;
        > a{
          padding: .5rem 1rem;
          display: inline-block;
          width: 100%;
          @include respond-to("medium-up"){
            &:hover{
              background-color: rgba($color-brand, .5);
            }
          }
        }
        > ul{
          left: 100%;
          top: 0;
        }
      }
    }
    @include respond-to("medium-up"){
      &:hover {
        > ul {
          display: block;
        }
      }
    }
    @include respond-to("medium"){
      &.actif{
        > ul{
          display: block;
        }
      }
    }
  }
}

.logo{
  max-width: 20rem;
}


//Burger
#burger{
  color: $color-brand;
  font-size: 3rem;
  background-color: #FFF;
  display: inline-block;
  margin-right: 100%;
  padding: 0 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  z-index: 150;
  position: relative;
  margin-bottom: 1rem;
  width: 4.5rem;
  height: 4.5rem;
  text-align: center;
  @include respond-to("medium-up"){
    display: none;
  }
  &.actif + div .blocMenu{
    display: block;
  }
}

//Menu langues
.blocMenuLangues .flex-container{
  @include respond-to("small"){
    flex-direction: row;
  }
}