.header_front{
  padding: 1rem;
  text-align: center;
  background-color: rgba($white, .7);
}

.header_front .blocMenu{
  margin-top: 5rem;
  ul{
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
  }
  a{
    color: $color-brand2;
    text-decoration: none;
  }
  > div > ul > li{
    &:after{
      content: "-";
      margin: 0 .5rem;
    }
    &:last-of-type:after{
      content: "";
    }
  }
  li.parent{
    > ul{
      display: none;
      position: absolute;
      text-align: left;
      background-color: #FFF;
      > li{
        > a{
          padding: .5rem 1rem;
          display: inline-block;
          width: 100%;
          &:hover{
            background-color: rgba($color-brand, .5);
          }
        }
      }
    }
    &:hover{
      > ul{
        display: block;
      }
    }
  }
}

.logo{
  max-width: 20rem;
}