.blocCommentaires{
  label{
    display: block;
  }
  input[type="text"], input[type="email"], textarea{
    box-shadow: 0 0 0 1px $color-brand inset
  }
  #form_envoi{
    margin-top: 2rem;
  }
  .blocCommentaires-ajout{
    text-decoration: underline;
    cursor: pointer;
  }
  .blocCommentaires-formulaire{
    display: none;
  }
}