<aside class="main-sidebar">
    {% block sidebar %}
        <section class="sidebar">
            {% block arborescence %}
                {{ menusBack()|raw }}
            {% endblock %}
            <div id="sidebar-logo">
                {% block sidebar_logo %}
                    <a class="logo" href="{{ path('tableauDeBord') }}">
                        <img src="{{ asset('assets/img/logoNinaBlanc.png') }}" alt="CMS Nina 3">
                    </a>
                    {% if page is defined and page is not empty %}
                        <a id="btn-toggle-blocs" href="#" title="{{ 'Visualiser les groupes de blocs'|trans }}"><i class="fas fa-th-large"></i></a>
                    {% endif %}
                {% endblock sidebar_logo %}
            </div>
        </section>
    {% endblock sidebar %}
</aside>