<h3><i class="fas fa-image"></i> Nouvelles fonctionnalités pour le bloc "Image"</h3>
<p>Vous pouvez à présent choisir l'alignement de votre image (à gauche, centrée ou à droite) et limiter sa largeur et sa hauteur.</p>

<h3><i class="fas fa-share-square"></i> Bloc "Partage"</h3>
<p>Un nouveau bloc est disponible ! Il vous permet de partager une page sur les réseaux sociaux.</p>

<h3><i class="fas fa-grip-horizontal"></i> Bloc "Grille"</h3>
<p>Un nouveau bloc est disponible ! Il vous permet d'afficher du contenu sous forme de grille de 2, 3 ou 4 colonnes.</p>