<h3><i class="fas fa-language"></i> Traduction des pages</h3>
<p>La liste des pages traduites en langue étrangère mais non reliées à une page dans la langue par défaut est désormais accessible.</p>
<p>Pour la consulter, rendez-vous sur la page "<a href="{{ path("traductionsPages") }}">Traduction des pages</a>" (accessible dans le menu sous "Contenus" -> "Langues")</p>

<h3><i class="fas fa-cog"></i> Nouveau bloc : "Logo du site"</h3>
<p>Un nouveau bloc est disponible, vous permettant d'afficher le logo et/ou le nom du site, qui renvoient vers la page d'accueil.</p>