<h3><i class="fas fa-cog"></i> Bloc "Recherche"</h3>
<p>Vous pouvez à présent intégrer un moteur de recherche à votre site grâche au bloc "Recherche"</p>

<h3><i class="fas fa-language"></i> Traduction des templates</h3>
<p>Les templates du back-office, du front-office et du thème actif peuvent à présent être traduits sur la page "<a href="{{ path("traductionsTemplates") }}">Traduction des templates</a>" (accessible dans le menu sous "Contenus" -> "Langues")</p>

<h3><i class="fas fa-language"></i> Traduction des pages</h3>
<p>La liste des pages traduites en langue étrangère mais non reliées à une page dans la langue par défaut est désormais accessible.</p>
<p>Pour la consulter, rendez-vous sur la page "<a href="{{ path("traductionsPages") }}">Traduction des pages</a>" (accessible dans le menu sous "Contenus" -> "Langues")</p>