<h3><i class="fas fa-chart-line"></i> Nouvelles fonctionnalités du tableau de bord - Référencement et liste des pages sans contenu</h3>
<p>Rendez-vous sur la page d'édition de votre compte, onglet "Personnalisation de l'interface" et cochez la case "Aperçu du référencement" pour voir un résumé du score SEO de vos pages ! Cochez la case "Pages sans contenu" pour voir la liste des pages ne contenant aucun bloc.</p>

<h3><i class="fas fa-image"></i> Nouvelles fonctionnalités pour le bloc "Image"</h3>
<p>Vous pouvez à présent choisir l'alignement de votre image (à gauche, centrée ou à droite) et limiter sa largeur et sa hauteur.</p>

<h3><i class="fas fa-share-square"></i> Bloc "Partage"</h3>
<p>Un nouveau bloc est disponible ! Il vous permet de partager une page sur les réseaux sociaux.</p>