<h3><i class="fas fa-share-square"></i> Bloc "Partage"</h3>
<p>Un nouveau bloc est disponible ! Il vous permet de partager une page sur les réseaux sociaux</p>

<h3><i class="fas fa-grip-horizontal"></i> Bloc "Grille"</h3>
<p>Un nouveau bloc est disponible ! Il vous permet d'afficher du contenu sous forme de grille de 2, 3 ou 4 colonnes.</p>

<h3><i class="fas fa-search"></i> Vue d'ensemble du référencement</h3>
<p>Une nouvelle page a été ajoutée à l'administration ("Contenus" -> "Référencement"), permettant de voir d'un coup d'oeil tous les paramètres SEO de vos pages.</p>