<h3><i class="fas fa-times"></i> Désactivation de blocs</h3>
<p>Vous pouvez à présent choisir de masquer certains blocs de votre page en cliquant sur "<i class="fas fa-ellipsis-v"></i>", puis sur "Options d'affichage", et en décochant "Activé"</p>

<h3><i class="fas fa-grip-horizontal"></i> Bloc "Grille"</h3>
<p>Un nouveau bloc est disponible ! Il vous permet d'afficher du contenu sous forme de grille de 2, 3 ou 4 colonnes.</p>

<h3><i class="fas fa-search"></i> Vue d'ensemble du référencement</h3>
<p>Une nouvelle page a été ajoutée à l'administration ("Contenus" -> "Référencement"), permettant de voir d'un coup d'oeil tous les paramètres SEO de vos pages.</p>