<div id="ajoutBlocPartage" class="modal-box">
    <div class="modal-content modal-dialog">
        <p class="txtcenter mbm">Vous souhaitez ajouter un bloc partagé à la page.<br> Préférez-vous qu'il soit :</p>
        <div class="flex-container txtcenter">
            <div class="w50 pls prs">
                <button id="ajoutBlocPartageAssocie" class="mln" type="button">{{ "Associé au bloc original"|trans }}</button>
                <p class="mts help-text">{{ "Ce bloc sera toujours identique au bloc original."|trans }}</p>
            </div>
            <div class="w50 pls prs">
                <button id="ajoutBlocPartageDissocie" class="mln" type="button">{{ "Dissocié du bloc original"|trans }}</button>
                <p class="mts help-text">{{ "Ce bloc et le bloc original ne seront pas liés  : modifier l'un ne modifiera pas l'autre."|trans }}</p>
            </div>
        </div>
    </div>
</div>