{% for menuPage in menuPages|sortBy('position') %}
    {% if menuPage.pageParent is empty and isPublie(menuPage.page) %}
        <li {% if isParent(menuPage.page.id) and menuPage.page.affichageSousNiveaux %}class="parent"{% endif %}>
            <a href="{{ path('voirPage', {'url':menuPage.page.seo.url}) }}">
                {{ menuPage.page.titreMenu }}
            </a>
            {% if menuPage.page.affichageSousNiveaux %}
                {{ sousMenu(menuPage.page.id, 'front')|raw }}
            {% endif %}
        </li>
    {% endif %}
{% endfor %}