{% for page in pages %}
    {% if isPublie(page) %}
    <li>
        <a href="{{ path('voirPage', {'url':page.seo.url}) }}">{{ page.titre }}</a>
        {% if page.pagesEnfants is not empty %}
            <ul>
            {% include 'front/menu/pages.html.twig' with{'pages':page.pagesEnfants} only %}
            </ul>
        {% endif %}
    </li>
    {% endif %}
{% endfor %}