<ul>
    {% for menuPage in menuPages %}
        {% if isPublie(menuPage.page) %}
            <li {% if isParent(menuPage.page.id) %}class="parent"{% endif %}>
                <a href="{{ path('voirPage', {'url':menuPage.page.seo.url}) }}">
                    {% if menuPage.page.titreMenu is not empty %}
                        {{ menuPage.page.titreMenu }}
                    {% else %}
                        {{ menuPage.page.titre }}
                    {% endif %}
                </a>
                {{ sousMenu(menuPage.page.id, 'front')|raw }}
            </li>
        {% endif %}
    {% endfor %}
</ul>