<div class="grid-3 small-1 has-gutter-xl">
    {% if limite is not empty %}
        {% set pages = pagesDeLaCategorie(bloc.contenu.categorie)|slice(0, limite) %}
    {% else %}
        {% set pages = pagesDeLaCategorie(bloc.contenu.categorie) %}
    {% endif %}
    {% for page in pages %}
        <div class="blocCategorie-page flex-container-v">
            {{ getBlocAnnexe(page, 'vignette')|raw }}
            <h2>{{ page.titre }}</h2>
            {{ getBlocAnnexe(page, 'resume')|raw }}
            <a href="{{ path("voirPage", { '_locale': page.langue.abreviation, 'url': page.seo.url}) }}">{% trans %}Voir la page{% endtrans %}</a>
        </div>
    {% endfor %}
</div>