{% set blocsEnfants = bloc.blocsEnfants|sortBy('position') %}

<div class="flex-container">
    {% for blocEnfant in blocsEnfants %}
        {% include('front/bloc.html.twig') with {'bloc': blocEnfant} only %}
    {% endfor %}
</div>