{% set colonnes = bloc.contenu.colonnes %}

{% if colonnes == 3 or colonnes == 4 %}
    <div class="grid-{{ colonnes }}-small-2-tiny-1 has-gutter-xl">
        {% for bloc in bloc.blocsEnfants %}
            <div class="blocColonnes-bloc">
                {% include('front/bloc.html.twig') with {'bloc': bloc} only %}
            </div>
        {% endfor %}
    </div>
{% else %}
    <div class="flex-container">
        {% for blocEnfant in bloc.blocsEnfants %}
            {% if loop.first %}
                <div class="blocColonnes-bloc {% if colonnes == '1/2' %}w50{% elseif colonnes == '1/3' %}w30{% else %}w70{% endif %}">
                    {% include('front/bloc.html.twig') with {'bloc': blocEnfant} only %}
                </div>
            {% elseif loop.index == 2 %}
                <div class="blocColonnes-bloc {% if colonnes == '1/2' %}w50{% elseif colonnes == '1/3' %}w70{% else %}w30{% endif %}">
                    {% include('front/bloc.html.twig') with {'bloc': blocEnfant} only %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}