{% for menuPage in menuPages|sortBy('position') %}
    {% if menuPage.parent is empty and isPublie(menuPage.page) %}
        <li {% if langueArbo.pageAccueil is not empty and menuPage.page == langueArbo.pageAccueil %}data-jstree='{"type":"home"}'{% endif %}>
            <a href="#"><span class="menuPage" id="{{ menuPage.id }}"></span><span class="page" id="{{ menuPage.page.id }}"></span>
                {{ menuPage.page.titreMenu }}
            </a>
            {{ sousMenu(menuPage, 'back')|raw }}
        </li>
    {% endif %}
{% endfor %}