{% if pages is not empty %}
    <ul>
        {% for page in pages %}
            <li>
                <a href="{{ path('easyadmin', { 'action': 'edit', 'entity': 'Page_Active', 'id': page.id }) }}">{{ page.titre }}</a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>{{ 'Aucun résultat'|trans }}</p>
{% endif %}