{% for menuPage in menuPagesOrphelines %}
    <li {% if menuPage.page.id == config.pageAccueil.id %}data-jstree='{"type":"home"}'{% endif %}>
        <a href="#"><span class="menuPage" id="{{ menuPage.id }}"></span><span class="page" id="{{ menuPage.page.id }}"></span>
            {% if menuPage.page.titreMenu is not empty %}
                {{ menuPage.page.titreMenu }}
            {% else %}
                {{ menuPage.page.titre }}
            {% endif %}
        </a>
    </li>
{% endfor %}
