<ul>
    {% for menuPage in menuPages %}
        {% if isPublie(menuPage.page) %}
            <li {% if langueArbo.pageAccueil is not empty and menuPage.page == langueArbo.pageAccueil %}data-jstree='{"type":"home"}'{% endif %}>
                <a href="#"><span class="menuPage" id="{{ menuPage.id }}"></span><span class="page" id="{{ menuPage.page.id }}"></span>
                    {{ menuPage.page.titreMenu }}
                </a>
                {{ sousMenu(menuPage, 'back')|raw }}
            </li>
        {% endif %}
    {% endfor %}
</ul>