{% extends 'installeur/base.html.twig' %}

{% block main %}
    <h1>Configuration de la base de données</h1>

    {{ form_start(form) }}
    {{ form(form) }}
    {{ form_end(form) }}

    <button id="testConnexion">Tester la connexion</button>
    <span id="resultatTestConnexion"></span>
{% endblock %}