{% extends 'installeur/base.html.twig' %}

{% block main %}
    <h1>Création de pages</h1>

    <div id="creationPages">
        <div>
            <h2>Menu principal</h2>
            <p>Accueil</p>
        </div>
        <button id="ajoutPageHeader" data-menu="1"><i class="fas fa-plus"></i>Ajouter une page</button>

        <div>
            <h2>Menu du pied de page</h2>
            <p>À propos des cookies</p>
        </div>
        <button id="ajoutPageFooter" data-menu="2"><i class="fas fa-plus"></i>Ajouter une page</button>
    </div>
{% endblock %}