{% extends 'installeur/base.html.twig' %}

{% block main %}
    <div id="creationPages">
        <div>
            <h2>Menu principal</h2>
            {% for page in pagesHeader %}
                <p>{{ page }}</p>
            {% endfor %}
        </div>
        <button id="ajoutPageHeader" data-menu="1"><i class="fas fa-plus"></i>Ajouter une page</button>

        <div>
            <h2>Menu du pied de page</h2>
            {% for page in pagesFooter %}
                <p>{{ page }}</p>
            {% endfor %}
        </div>
        <button id="ajoutPageFooter" data-menu="2"><i class="fas fa-plus"></i>Ajouter une page</button>
    </div>

    <a href="{{ path('installeur', { etape: 7 }) }}">Terminer l'installation</a>
{% endblock %}